﻿@page
@model web_app.Pages.AddArticleModel

@{ ViewData["Title"] = "AddArticle"; }

@{ Layout = "~/Pages/Shared/_ArticleLayout.cshtml"; }


<body>
    <h1>AddArticle</h1>

    <div class="container border-0">
        <h3>Page Languages</h3>
    </div>

    <div class="container border-0">
        <div class="d-grid gap-lg-2 d-md-block">
            <div class="my-3">
                <a class="btn-article me-2" role="button" href="#"> + </a>
                <a class="btn-article me-2" role="button" href="#">
                    <img class="buttonIcon"
                         src="~/articles/pictures/En.png" />English
                </a>
                <a class="btn-article me-2" role="button" href="#">
                    <img class="buttonIcon"
                         src="~/articles/pictures/Fr.png" />French
                </a>
                <a class="btn-article me-2" role="button" href="#">
                    <img class="buttonIcon"
                         src="~/articles/pictures/Ge.png" />German
                </a>
                <a class="btn-article me-2" role="button" href="#"><img class="buttonIcon" src="~/articles/pictures/Esp.png" />Spanish</a>
            </div>
        </div>
    </div>

    <form method="post">
        <div class="container border-0 preview">

            <a class="btn-article me-2" role="button" href="#">
                <i class="far fa-eye" style="color: var(--bs-red);margin-right: 4px;"></i>
                Preview
            </a>


            <div class="">
                <input type="submit" value="Save" class="btn-article me-2 mt-2" id="createArticle" />
            </div>

        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container border-0">

            <div>Picture*</div>

            <div class="">

                <div class="image-preview" id="imagePreview">

                    <input type="file" asp-for="Article.PictureUrl" id="inpFile">
                    <span asp-validation-for="Article.PictureUrl" class="border-danger"></span>
                    <i class="fa fa-camera image-preview__default-text border-danger" aria-hidden="true"></i>
                    <img src="" alt="+ Add picture" class="image-preview__image" />
                    <span asp-validation-for="Article.PictureUrl" class="image-preview__default-text border-danger"></span>
                </div>

            </div>
        </div>



        <div class="row p-md-1">
            <div class="col">
                <label for="subcategory" class="lable">Subcategory</label>
                <select class="form-select  mb-1 rounded-0" id="subcategory" aria-label=".form-select-lg" asp-for="Article.SubcategoryId">
                    <option selected asp-for="Article.SubcategoryId">Not selected</option>
                    @foreach (var category in Model.Category)
                    {
        <option class="option-article" value="@category.Id">@category.Name</option>}

                </select>
                <span asp-validation-for="Article.SubcategoryId" class="text-danger"></span>

            </div>
            <div class="col">
                <label for="team" class="lable">Team</label>
                <select class="form-select form-select-md mb-1" id="team" aria-label=".form-select-lg" asp-for="Article.TeamId">
                    <option selected>Not selected</option>
                    @foreach (var team in Model.Team)
                    {
        <option value="@team.Id">@team.Name</option>}
                </select>
                <span asp-validation-for="Article.TeamId" class="text-danger"></span>
            </div>
            <div class="col">
                <label for="location" class="lable">Location</label>
                <select class="form-select form-select-md mb-1" id="location" aria-label=".form-select-lg" asp-for="Article.LocationId">
                    <option selected>Not selected</option>
                    @foreach (var location in Model.Location)
                    {
        <option value="@location.Id">@location.Name</option>}
                </select>
                <span asp-validation-for="Article.LocationId" class="text-danger"></span>
            </div>
        </div>
        <div class="row p-md-1">
            <div class="form-group">
                <label for="altTextPicture">ALT.*</label>
                <input type="text" asp-for="Article.Alt" class="form-control-article" id="altTextPicture" placeholder="Alternative text for picture">
                <span asp-validation-for="Article.Alt" class="text-danger"></span>
            </div>
        </div>
        <div class="row p-md-1">
            <div class="form-group">
                <label for="articleHeadline">Article Headline.*</label>
                <input type="text" asp-for="Article.Headline" class="form-control-article" id="articleHeadline" placeholder="Name">
            </div>
        </div>
        <div class="row p-md-1">
            <div class="form-group">
                <label for="caption">Caption*</label>
                <input type="text" asp-for="Article.Caption" class="form-control-article" id="caption" placeholder="Write caption text here">
            </div>
        </div>
        <div class="row p-md-1 textEditor">
            <textarea class="textEditor" asp-for="Article.Content" id="editor"></textarea>
        </div>

        <div class="container toggle-switch">
            <div class="container-sm">Comments: Show</div>
            <div class="container-sm">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" asp-for="Article.IsCommentable" )>
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                </div>
            </div>
        </div>
    </form>

    <hr />
    <div>
        <a asp-page="Articles">Back to Articles</a>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
