﻿@page
@model web_app.Pages.Articles.ArticleViewModel

@{
    ViewData["Title"] = "ArticleView";
    Layout = "~/Pages/Shared/_ArticleLayout.cshtml";

    string imagePath = "";

    imagePath = "../articles/pictures/" + Model.Article.PictureUrl;
}


<body class="main-structure">

    <div class="container">

        <h1>ArticleView</h1>

        <div class="container-fluid">

            <div>
                <a asp-page="UpdateArtile" asp-route-id="@Model.Article.Id">Edit</a> |
                <a asp-page="Articles">Back to List</a>
            </div>

        </div>

        <div class="container position-relative article-content">
            <div class="row">

                <div class="container navi-link">
                    <a class="nav-link" href="#">@Model.Article.Team.Name > @Model.Article.Headline </a>
                    <h1 class="h1-background-text orientation position-absolute"> @Model.Article.Team.Name</h1>
                </div>
                <div class="container position-relative">
                    <img class="img-fluid d-block mx-auto" src="@imagePath" />
                    <div class="published">
                        <div>
                            <h5>
                                Published / 20.09.2019
                            </h5>
                            <h6> London Games return in 2019</h6>
                            <h2> Register to receive...</h2>
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="d-grid align-content-center article-text-area">

                        <p class=" m-5" name="" id="" cols="mx-auto" rows="10">
                            @Html.Raw(Model.Article.Content)
                        </p>

                    </div>

                </div>

                <div class="d-grid article-comments ">

                    @if (Model.Article.IsCommentable)
                    {
                    <h5>comments</h5>
                    <ul class="list-group ">
                        <li class="list-group-item rounded-0">
                            <div class=" d-flex flex-row">
                                <img class="  rounded-circle flex-shrink-0 me-2 fit-cover" src="~/articles/pictures/image1.jpg" />
                                <span class="fw-bold text-primary mb-0 p-1 ">John Smith</span>
                                <p class="fw-light mb-0 p-1">Mar 15 edited</p>
                            </div>
                            <div class=" d-flex flex-row">
                                <p class="bg-light border rounded border-light m-2 p-2">
                                    Nisi sit justo faucibus nec
                                    ornare amet,
                                    tortor torquent. Blandit class dapibus, aliquet morbi.
                                </p>
                            </div>
                            <hr>
                            <div class="d-flex">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span>15</span>
                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i><span>2</span>
                                <div class=" container justify-content-end"></div>
                                <a class=" link-danger m-2">Edit</a>
                                <a class=" link-danger m-2">Comment</a>
                                <a class=" link-danger m-2">Delete</a>
                            </div>
                        </li>
                        <li class="list-group-item rounded-0">
                            <div class=" d-flex flex-row">
                                <img class="  rounded-circle flex-shrink-0 me-2 fit-cover article-view-image" src="~/articles/pictures/image1.jpg" />
                                <span class="fw-bold text-primary mb-0 p-1 ">John Smith</span>
                                <p class="fw-light mb-0 p-1">Mar 15 edited</p>
                            </div>
                            <div class=" d-flex flex-row">
                                <p class="bg-light border rounded border-light m-2 p-2">
                                    Nisi sit justo faucibus nec
                                    ornare amet,
                                    tortor torquent. Blandit class dapibus, aliquet morbi.
                                </p>
                            </div>
                            <hr>
                            <div class="d-flex">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span>15</span>
                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i><span>2</span>
                                <div class=" container justify-content-end"></div>
                                <a class=" link-danger m-2">Edit</a>
                                <a class=" link-danger m-2">Comment</a>
                                <a class=" link-danger m-2">Delete</a>
                            </div>
                        </li>
                    </ul>

                    }

                    <div class="container-fluid more-articles mt-5 mb-5  ">
                        <div class="container">

                            <hr>
                        </div>
                        <div class="border-1 rounded-5 p-1 more-articles-text  ">More Articles</div>
                    </div>


                    @if (Model.Article != null)
                    {

        @foreach (var article in Model.Articles)
        {
            string imgPath = "";
    @if (!String.IsNullOrEmpty(article.PictureUrl))
    {
        imgPath = "../articles/pictures/" + @article.PictureUrl;
    }
                        <a style="text-decoration: none" asp-page="ArticleView" asp-route-id="@article.Id">
                            <div class="row">
                                <div class="col-6 border m-0">
                                    <div class=" flex">
                                        <div class=" row">
                                            <div class="col">
                                                <div class=" image-container align-content-stretch">
                                                    <img class=" fit-image-cover rounded-0   "
                                                         src="@imgPath" />
                                                </div>
                                            </div>
                                            <div class=" col">
                                                <h5>@article.Headline</h5>
                                                <div class="truncate-overflow">

                                                    <p> @Html.Raw(article.Content)</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>}}

                    <div class=" container">
                        <hr>
                    </div>

                </div>
            </div>

        </div>

    </div>
</body>