﻿@page
@using DAL.Models
@model web_app.Pages.Shared.ArticlesModel

@{ ViewData["Title"] = "Articles"; }

@{ Layout = null;
    Layout = "~/Pages/Shared/_ArticleLayout.cshtml";

}


<body>

    <div class="container">

        <h1>Articles</h1>
        <p>
            <a asp-page="AddArticle">Add New article</a>
        </p>

        <div class="container border-0">
            <div class="container border-0 ">
                <a class="btn btn-danger me-2" role="button" href="#"
                   style="border-radius: 0px;background: var(--bs-body-bg);color: var(--bs-danger);font-weight: bold;border-style: none;border-color: var(--bs-secondary);">
                    <i class="far fa-eye" style="color: var(--bs-red);margin-right: 4px;"></i>
                    Preview
                </a>
            </div>
           
            <div class="row p-md-1">
                @{var selectedSubcategoty = 1;}
                <div class="col">
                    <!-- <label for="subcategory" class="lable">Subcategory</label> -->
                    @if (Model.Category != null)
                    {
                        <select class="form-select form-select-md mb-1 rounded-0" id="subcategory" aria-label=".form-select-lg" asp-for="@selectedSubcategoty" >
                            <option selected>All subcategories</option>

                            @foreach (var category in Model.Category)
                            {
                                <option value="@category.Id">@category.Name</option>
}
                        </select>}
                </div>
                <div class="col">
                    <!-- <label for="team" class="lable">Team</label> -->
                    @if (Model.Team != null)
                    {
                        <select class="form-select form-select-md mb-1" id="team" aria-label=".form-select-lg">
                            <option selected>All teams</option>
                            @foreach (var team in Model.Team)
                            {
                                <option value="@team.Id">@team.Name</option>
}
                        </select>}
                </div>
                <div class="col">
                    <!-- <label for="location" class="lable">Location</label> -->
                    @if (Model.Location != null)
                    {
                        <select class="form-select form-select-md mb-1" id="location" aria-label=".form-select-lg">
                            <option selected>All Locations</option>
                            @foreach (var location in Model.Location)
                            {
                                <option value="@location.Id">@location.Name</option>
}
                        </select>}
                </div>
            </div>
            <div class="container-md overflow-auto scrollbar-danger">
                @if (Model.Article != null)
                {

                    @foreach (var article in Model.Article)
                    {
                        string imagePath = "";
                        @if (!String.IsNullOrEmpty(article.PictureUrl))
                        {
                            imagePath = "../articles/pictures/" + @article.PictureUrl;
                        }

                        <div class="p-md-1 m-1 articleHover">
                            <div class="delete-article">
                                <div class="btn-group">
                                    <button type="button" class="btn-article dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        @{ var deleteDialogId = "#deleteArticleModal" + article.Id; }
                                        <a class="dropdown-item" asp-page="Articles" asp-route-id="@article.Id" data-bs-toggle="modal" data-bs-target="@deleteDialogId">
                                            <input type="hidden" asp-for="@article.Id" />
                                            Delete
                                        </a>
                                        <a class="dropdown-item" href="#" data-bs-target="#deleteArticleModal">Publish</a>
                                    </div>
                                </div>
                            </div>

                            <a style="text-decoration: none" asp-page="ArticleView" asp-route-id="@article.Id">

                                <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 articles m-3 ">
                                    <div class="col align-content-center">
                                        <div>
                                            <img class="rounded img-fluid d-block w-100 art-image fit-cover align-content-center" src="@imagePath" />
                                            <div class="py-4"></div>
                                        </div>
                                    </div>
                                    <div class="col ">
                                        <div>
                                            <div class="py-4">
                                                <h4 class="h4-articles">@article.Headline</h4>

                                                <div class="truncate-overflow">
                                                    <p class="article-small0view">
                                                        @Html.Raw(article.Content)

                                                    </p>

                                                </div>
                                            </div>
                                            <div class="input-group mb-3">

                                                <input type="text" asp-for="@article.Team.Name" class="form-control-article-view disabled" id="aticleHeadline" placeholder="Team">

                                                <div class="input-group-prepend form-control-article-view">
                                                    <span class="input-group-text border-0" id="basic-addon1">/</span>
                                                </div>

                                                <div class="input-group-append">
                                                    <input type="text" asp-for="@article.Location.Name" class="form-control-article-view disabled" id="aticleHeadline" placeholder="Location">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row p-md-1 ">
                                    <h6 class="container isPublished ">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        Published
                                    </h6>
                                </div>
                            </a>
                        </div>

                        // pop up when tap delite <!-- Modal window for Delete article -->
                        <div class="modal fade delete-article-modal" id="@deleteDialogId.Trim('#')" tabindex="-1" aria-labelledby="deleteArticleModalLabel" aria-hidden="true">

                            <input type="hidden" asp-for="@article.Id" />
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteArticleModalLabel">You Are about to delete an article</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <span>This article will be deleted from Sports Hub!</span>
                                        <span>Are you sure?</span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                        <form method="post">
                                            <input type="hidden" name="id" asp-for="@article.Id" />
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>}}
            </div>
        </div>

    </div>

</body>