

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500&display=swap');

html,
* {
    font-family: 'Roboto', 'Roboto Condensed', 'Open Sans';
}

h1 {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    color: #B2B2B2;
}

h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #B2B2B2;
}

h4 {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    color: #B2B2B2;
}


.btn-danger,
.btn {
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
    padding: 2px 6px;
    /* Some padding */
    color: #B2B2B2;
    border-radius: 0%;
    background-color: white;
    border-color: #B2B2B2;
    border-width: medium;
    border: 1px solid;
    outline-color: #B2B2B2;
}

.btn-article {
    display: inline-block;
    border-radius: 0px;
    border: 1px solid #B2b2b2;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
    color: #b2b2b2;
}

.btn-article:hover {
        display: inline-block;
        border-radius: 0px;
        border: 1px solid #E02232;
        background-color: white;
        text-align: center;
        vertical-align: middle;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        text-decoration: none;
        color: #E02232;
}

    .btn-article:Active {
        display: inline-block;
        border-radius: 0px;
        border: 1px solid #E02232;
        background-color: white;
        text-align: center;
        vertical-align: middle;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        text-decoration: none;
        color: #E02232;
        outline-color: #C80515;
        outline: 2px solid #C80515;
        outline-width:thin;
    }

    .btn-article:focus {
        display: inline-block;
        border-radius: 0px;
        border: 1px solid #E02232;
        background-color: #E02232;
        text-align: center;
        vertical-align: middle;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        text-decoration: none;
        color: white;
        outline-color: #C80515;
        outline: 3px solid #C80515;
        outline-width: thin;
     
    }



.picture-outline {
    border: 1px;
    padding: 50px;
    border-style: dashed;
}

/*button pointed */
.btn-default:hover,
.btn:hover {
    color: #E02232;
    outline-color: #E02232;
    background-color: white;
    border-color: #E02232;
    border-radius: 0px;
}

/*button pressed */
.btn-default:active,
.btn:active {
    color: white;
    outline-color: #C80515;
    background-color: #C80515;
    border-color: #C80515;
    border-radius: 0px;
    border: 1px solid;
}

/* CAtegory, Team and location lable */
.lable {
    font-family: 'Roboto';
    font-weight: normal;
    text-transform: uppercase;
    color: #7f8899;
    font-size: medium;
    padding-left: 5px;
}

.form-select {
    border-radius: 0%;
    color: #B2B2B2;
}

.form-control {
    border-radius: 0;
    color: #B2B2B2;
    font-size:14px;
}

.form-control-article {
    display: block;
    font-family: 'Roboto';
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b2b2b2;
    border-radius: 0%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .form-control-article[placeholder] {
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 400;
    }
    .form-control-article:hover {
        font-family: 'Roboto';
        border-radius: 0%;
        border-color: #C63638;
        color: #b2b2b2;
    }

    .form-control-article:active {
        font-family: 'Roboto';
        border-radius: 0%;
        border-color: #C63638;
        color: black;
        outline-color: #C63638;
        outline: 2px solid red;
    }

    .form-control-article::selection {
        border-radius: 0%;
        border-color: #C63638;
        color: black;
        outline-color: #C63638;
        outline: 2px solid red;
    }


    .form-control-article:focus {
        border-radius: 0%;
        border-color: #C63638;
        color: black;
        outline-color: #C63638;
        outline: 2px solid red;
    }

    .form-control:focus {
        border-radius:0px;
        border-color: #C80515;
        box-shadow: 0 0 0 0.1rem #C80515;
    }

.form-control-article:focus {

    border-color: #C80515;
    box-shadow: 0 0 0 0.1rem #C80515;
}

.form-select:focus {
    border-color: #C80515;
    box-shadow: 0 0 0 0.1rem #C80515;
}

label {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: medium 10px;
    text-transform: uppercase;
    color: #7f8899;
}

    label:hover {
        color: #C63638;
    }

option {
    border-radius: 0%;
}

.option-article {
    border-radius: 0%;
}

select {
    border-radius: 0%;
}

.select-article {
    border-radius: 0%;
}



.form-select:hover {
    border-radius: 0%;
    border-color: #C63638;
    color: #C63638;
}

.form-select::selection {
    border-radius: 0%;
    border-color: #C63638;
    color: #C63638;
}

.form-control:hover {
    border-radius: 0%;
    border-color: #C63638;
    color: #C63638;
}

.form-control-article:hover {
    border-radius: 0%;
    border-color: #C63638;
    color: #C63638;
}

.form-control::selection {
    border-radius: 0%;
    border-color: #C63638;
    color: #C63638;
}

.form-control-article::selection {
    border-radius: 0%;
    border-color: #C63638;
    color: #C63638;
}


.textEditor {
    border: 0ch;
    border-radius: 0%;
}




.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}



.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #C80515;
    -webkit-transition: .4s;
    transition: .4s;
    right: 0;
}

/*.btn,
.btn-article {
    border-radius: 0px;
    background: white;
    color: var(--bs-secondary);
    border-color: darkgray;
    outline: thin;
    outline-color: #C80515;
}*/

/*.btn:hover 
.btn-article:hover{
    border-color: red;
  
}*/

.buttonIcon {
    border-radius: 0px;
    width: 32px;
    height: auto;
    padding: 0;
    margin: auto;
    padding-right: 8px;
}

img:hover {
    filter: blur(1px);
}

.figure-caption {
    text-align: center;
}

.img-container {
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.figure {
    display: block;
}

.preview {
    text-align: right;
    justify-content: right;
    justify-items: end;
    margin-bottom: 10px;
}

.articles {
    justify-content: center;
}


.isPublished {
    text-align: right;
}


.articleHover { /* Hand pointer*/
    cursor: pointer;
    margin: 1em;
}

    .articleHover:hover { /*Green border on hover*/
        border-color: darkgrey;
        box-shadow: 1px 1px 6px 2px rgb(172, 200, 184);
    }

.overflow-auto { /*Oberflow dimention*/
    width: 100%;
    height: 90vh; /*90% of vertical resolution of the screen*/
}


.scrollbar-danger::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-danger::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #898180;
}

    .scrollbar-danger::-webkit-scrollbar-thumb:hover {
        border-radius: 10px;
        background-color: #c33623;
    }

.fa-circle {
    color: green;
}

.fa-camera::before {
    border-style: solid;
    padding: 10px;
    color: white;
    border-radius: 50%;
    border-color: #c33623;
    background-color: #c33623;
}

.fa-camera {
    /*margin: 5em;*/
    padding: 10px;
    color: #c33623;
    font-size: xx-large;
}


.image-preview {
    display: flex;
    flex-direction: column;
    /* justify-items: first;*/
    width: 100%;
    min-width: 500px;
    min-height: 400px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
    border-style: dashed;
    border-width: thin;
}

.image-preview__image {
    /*  display: none;*/
    display: flex;
    justify-content: center;
    width: 100%;
}

.delete-article {
    text-align: right;
    justify-content: right;
    color: darkred;
    border: 0px hidden;
}

/*Hide text on Articles content variant 1*/
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

/*Hide text on Articles content variant 2 CSS Only*/

.truncate-overflow {
    --lh: 1.4rem;
    line-height: var(--lh);
    --max-lines: 7;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
    color: #B2B2B2;
}



    .truncate-overflow::before {
        position: absolute;
        content: "...";
        inset-block-end: 0; /* "bottom" */
        inset-inline-end: 0; /* "right" */
    }

    .truncate-overflow::after {
        content: "";
        position: absolute;
        inset-inline-end: 0; /* "right" */
        width: 1rem;
        height: 1rem;
        background: white;
    }


.toggle-switch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
