@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');


.header{

justify-items: center;

}

.logo{
background-color: #D72130;
color: #f8f8f8;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px;
    justify-items: stretch;
}

i{
    margin: 5px;
}

.social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px;
    text-align: center;
    justify-items: stretch;
}

.sidebar{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;

}

.nav-link:link{
    position: relative;
color: #B2B2B2;
}

.nav-link{
    position: relative;
    text-transform: uppercase;
    color: #B2B2B2;
}

.nav-link:hover{
    text-transform: uppercase;
    color:#D72130;
    font-weight: bold;
}

.nav-link:active{
    text-transform: uppercase;
    color:#D72130;
    font-weight: bold;
    
}

.nav-link:focus{
    text-transform: uppercase;
    color:#D72130;
    font-weight: bold;

}
.orientation{
    position: absolute;
    top: 2%;
    left: -15%;
    bottom: 0%;
    writing-mode: vertical-rl;
    text-orientation:sideways-right;
    font-family: 'Roboto Condensed';
    color: #Eff2f6;
    font-size: 141px;

}

.article-content{
    display: flex;
    flex-direction: row;
    position: relative; 
    margin-top: 50px;
}


.article-view-image{
    max-width:80%;
    max-height:80%;
}


.published {
    display: flex;
    position: absolute;
    top: 20%;
    right: -10%;
    padding: 10px;
    width: 400px;
    height: 200px;
    border: 1px solid#F8F8F8;
    background: #F8F8F8;
    border-radius: 5px;
    justify-content: left;
}
 

  .article-text-area{
    margin-top: 40px;
  }

  .article-comments{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #f8f8f8;
    border-radius: 0px;
  }

  .fit-cover{
    object-fit: cover;
    width: 50px;
    height: 50px;
  }

  .more-articles{
    display:flex;
    position: relative;
    justify-content: center;
  }

  .more-articles-text{
    display: flex;
    position: absolute;
    top: 0%;
    /*right: 10%;*/
    /*left: 10%;*/
    width:20%;
    min-width: 150px;
    text-align: center;
    justify-content: center;
    background-color: #f8f8f8;
    border: 1px solid #B2B2B2;
    font-weight: bold;
    text-transform: uppercase;

  }

  .fit-image-cover{
    margin: 2px;
    object-fit:cover;
    
    width: 80%;
     height: auto; 
  }

  .more-articles{
      display:flex;
    position: relative;
    justify-content: center;
  }



.truncate-sm {
    --lhs: 1.4rem;
    line-height: var(--lhs);
    --max-lines-sm: 4;
    position: relative;
    max-height: calc(var(--lhs) * var(--max-lines-sm));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
}

    .truncate-sm::before {
        position: absolute;
        content: "...";
        inset-block-start: 0;
        inset-block-end: 0; /* "bottom" */
        inset-inline-end: 0; /* "right" */
    }

    .truncate-sm::after {
        content: "";
        position: absolute;
        inset-inline-end: 0; /* "right" */
        width: 1rem;
        height: 1rem;
        background: white;
    }

.article-small-view{
 line-height:1.0;
}
.form-control-article-view{
    border: 0px ;
}

.h4-articles{
    color:black;
    font-weight:bold;
}

.art-image {
    width:100%;
    height:auto;
    max-height:250px;
}