﻿.info-architecture-category-list {
    border-bottom: 1px solid #D4D9E2;
    height: 55px;
}

.info-architecture-category-list .arrow-icon-section {
    width: 87px;
    justify-content: center;
    align-items: center;
}

.info-architecture-category-list .arrow-icon-section a {
    color: #C4C4C4;
}

.info-architecture-category-list .category-names-list {
    padding-left: 19px;
    margin: 0px;
    width: 100%;
}

.info-architecture-category-list .category-names-list li {
    padding: 0px;
}

.info-architecture-category-list .category-names-list li a {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #B2B2B2;
}

.info-architecture-category-list .not-hidden {
    display: flex !important;
}

.info-architecture-category-list .hidden-after, .hidden-before {
    display: none !important;
}

.info-architecture-category-list .hidden-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4D9E2;
    border-radius: 12px;
    margin: 0px;
    margin-bottom: 20px;
}

.info-architecture-category-list .hidden-div p {
    color: #7D7D7D;
    font-size: 8px;
    margin: 0px;
    padding: 1px 6px;
    font-weight: 600;
}
