﻿/*Lower Header*/

.info-architecture-header {
    position: relative;
    height: 78px;
    padding: 0px 102px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D4D9E2;
}

.info-architecture-header h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-top: 25px;
    margin-bottom: 12px;
}

.info-architecture-header button {
    background-color: #D72130;
    color: #FFFFFF;
    border: 1px solid #C63638;
    height: 32px;
    width: 134px;
    margin-top: 24px;
    margin-bottom: 22px;
}

.info-architecture-header button:hover {
    background-color: #E02232;
}

.info-architecture-header button:active {
    background-color: #C80515;
}

.info-architecture-header .save-modal {
    position: absolute;
    top: 3px;
    right: 80px;
    box-shadow: 0px 4px 28px #818181;
    background-color: white;
    width: 400px;
}

.info-architecture-header .save-modal .close-icon em {
    margin-top: 10px;
    margin-right: 10px;
    color: #7D889B;
    cursor: pointer;
}

.info-architecture-header .save-modal .save-info {
    margin-bottom: 20px;
}

.info-architecture-header .save-modal .paragraphs {
    margin-left: 20px;
    height: 50px;
}

.info-architecture-header .save-modal .paragraphs p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
}

.info-architecture-header .save-modal .check-icon {
    width: 50px;
    height: 50px;
    background-color: #00A100;
    border-radius: 50%;
    margin-left: 25px;
}

.info-architecture-header .save-modal .check-icon em {
    color: white;
    font-size: 25px;
}

/*Main Content*/

.info-architecture-main {
    margin: 54px 0px 0px 68px;
    padding-left: 0px;
}

.info-architecture-main .category-item {
    height: 36px;
    max-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-architecture-main .add-category {
    border: 0.5px dashed #B2B2B2;
    height: 32px !important;
}

.info-architecture-main .category-listed {
    border: 0.5px solid #D4D9E2;
    margin-top: 24px;
}

.info-architecture-main .category-listed a {
    flex: 0 1 auto;
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #B2B2B2;
    cursor: default;
}

.info-architecture-main .subcategory-li a, .info-architecture-main .team-li a {
    font-weight: 400;
}

.info-architecture-main .add-category .categories-open-modal-button {
    color: #B2B2B2;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    padding: 0px;
    border: none;
    background-color: #FFFFFF;
    outline: none;
}

.info-architecture-main .category-listed {
    margin-top: 24px;
}

#button-for-open-subcategories-modal, #button-for-open-teams-modal {
    display: none;
}

.hidden-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4D9E2;
    border-radius: 12px;
    margin-left: 8px;
}

.hidden-div p {
    color: #7D7D7D;
    font-size: 8px;
    margin: 0px;
    padding: 1px 6px;
    font-weight: 600;
}

.category-listed .hidden {
    display: none;
}

/*Modal*/

.modal-dialog {
    width: 458px;
    top: 200px;
}

.modal-dialog .modal-content {
    height: 260px;
    border-radius: 0px;
    box-shadow: 0px 4px 28px 0px #818181;
    flex-direction: column;
    align-items: center;
}

.modal-content .categories-form {
    width: 354px;
    margin-top: 42px;
    margin-bottom: 37px;
}

.modal-content h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;
}

.modal-content label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.9px;
    color: #7F8899;
    text-transform: uppercase;
}

.modal-content input::placeholder {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #C6CCD7;
    border-color: #D4D9E2;
}

.modal-content input:focus {
    border-color: #D4D9E2;
    box-shadow: none;
}

.modal-content .button-red-fill {
    padding: 8px 40px;
}

.category-modal-buttons {
    justify-content: flex-end;
    align-items: center;
    margin-top: 37px;
}

.category-modal-buttons .button-white-borderless {
    margin-right: 32px;
    height: 16px;
}

.delete-modal .modal-dialog {
    width: 510px;
}

.delete-modal .modal-content {
    position: relative;
    height: 300px;
}

.delete-modal .categories-form {
    margin: 0px;
    width: 100%;
}

.delete-modal .categories-form p:first-of-type {
    font-weight: bold;
}

.delete-modal .category-modal-buttons {
    margin-top: 50px;
    padding-right: 40px;
    padding-top: 20px;
    border-top: 0.1px solid #F4F5F8;
}

.delete-modal .delete-modal-icon {
    position: absolute;
    top: -50px;
    left: 205px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #EA0024;
}

.delete-modal .delete-modal-icon em {
    color: white;
    font-size: 45px;
}

.delete-modal .delete-modal-confirmation-text {
    margin-top: 70px;
}

/*Kebab Dropdown*/

.kebab-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    margin-left: auto;
    margin-right: 8px;
}

.kebab-menu .dropdown-container {
    position: relative;
}

.kebab-menu .dropdown-container:focus {
    outline: none;
}

.kebab-menu .three-dots {
    display: flex;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.kebab-menu .circle {
    width: 4px;
    height: 4px;
    margin-right: 2px;
    background: #B2B2B2;
    border-radius: 50%;
    display: flex;
}

.kebab-menu .dropdown {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: -11px;
    top: -16px;
    background-color: #FFFFFF;
    outline: none;
    opacity: 0;
    z-index: -1;
    width: 168px;
    height: auto;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.0949246);
}

.kebab-menu .dropdown-container:focus .dropdown {
    display: flex;
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: opacity 0.2s, z-index 0.2s, max-height: 0.2s;
}

.kebab-menu .dropdown .dropdown-item {
    text-decoration: none;
    color: black;
    height: 36px;
    width: 100%;
    cursor: pointer;
    padding-left: 25px;
}

.kebab-menu .dropdown .dropdown-item:hover {
    color: #D72130;
    background: #D721301C;
}

.kebab-menu .dropdown .dropdown-move-to em {
    position: absolute;
    right: 10px;
}

.kebab-menu .dropdown .dropdown-move-to .move-to-list, .move-to-list-subcategories, .move-to-list-second {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 168px;
    top: 36px;
    background-color: #FFFFFF;
    outline: none;
    opacity: 0;
    z-index: -1;
    width: 168px;
    height: auto;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.0949246);
}

.kebab-menu .dropdown .dropdown-move-to:hover .move-to-list, .move-to-list-subcategories, .kebab-menu .dropdown .dropdown-move-to:hover .move-to-list-second {
    display: flex;
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
}

.move-to-list-item-parent {
    position: relative;
}

.move-to-list-subcategories {
    position: absolute;
    display: none !important;
    top: 0px !important;
}

.move-to-list-item:hover .move-to-list-subcategories {
    display: flex !important;
}

.kebab-menu .move-to-list .move-to-list-item, .move-to-list-second .move-to-list-item {
    text-decoration: none;
    color: black;
    height: 36px;
    width: 100%;
    cursor: pointer;
    padding-left: 36px;
}

.kebab-menu .move-to-list .move-to-list-item:hover, .move-to-list-second .move-to-list-item:hover {
    color: #D72130;
    background: #D721301C;
}

.kebab-menu .dropdown .dropdown-item-filler {
    height: 36px;
}

.kebab-menu .dropdown .three-dots {
    height: 36px;
    margin-left: 11px;
    align-items: center;
    width: 18px;
}

.kebab-menu .dropdown .three-dots .circle {
    background-color: #D72130;
}
