@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500&display=swap');

.font-standart {
    font-weight: 600;
    font-size: 12px;
}

::placeholder {
    color: #B2B2B2 !important;
    font-size: 12px;
}

.button-general {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #D72130;
    text-decoration: none;
}

a.button-general:hover {
    text-decoration: none;
}

.bg-custom {
    background-color: #D72130;
    color: white;
}

.label-font {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #7F7B7B;
    text-transform: uppercase;
}