﻿.bg-active-light-red {
    background-color: #FFFFFF; 
    color: #000000;
}

a.bg-active-light-red:hover {
    background-color: rgba(215, 33, 48, .11);
    color: #E02232;
}

a.bg-active-light-red:focus {
    background-color: rgba(215, 33, 48, .11);
    color: #E02232;
}

option.bg-active-light-red:hover {
    background-color: rgba(215, 33, 48, .11) !important;
    color: #E02232 !important;
}

option.bg-active-light-red:focus {
    background-color: rgba(215, 33, 48, .11) !important;
    color: #E02232 !important;
}

option.bg-active-light-red {
    background-color: rgba(215, 33, 48, .11) !important;
    color: #E02232 !important;
}

.test-class {
    background-color: #00ff21 !important;
}

.no-fill {
    background: none;
    border: none;
}

.line-height-35 {
    line-height: 35px;
}
