.form-label{ 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color:#7F7B7B
}
.nav-personal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-item > .nav-link {
    color:#7F7B7B;
}
.nav-item > .nav-link.active {
    color: #D72130;
}
.nav-item > .nav-link.active:hover {
    color: #E02232;
}
.nav-link,.btn{
    border-radius: 0%;
    border: none;
    font-weight: 500;
}
.img-lg{
    height: 120px;
    width: 120px;
}
.btn-primary{
    background-color: #D72130
}
.btn-primary:hover{
    background-color: #E02232
}
.btn-primary::after{
    background-color: #E02232
}
.form-control-plaintext{
    border: 1px solid #D4D9E2;
}
.bi-camera-fill{
    background-color:#D72130;
    padding-top: 5px;
    margin-top: -30%;
    margin-left: 75%;
}
.bi-exclamation-triangle-fill,.bi-check-circle-fill{
    background-color:#D72130;
    padding-top: 10px;
}
.modal-header{
    margin-top: -10%;
}
.modal-content{
    border-radius: 0;
}
.modal-body,.modal-content,.modal-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.modal-footer,.modal-header{
    align-items: flex-end;
}
.modal-body,{
    align-items: center;
}
.close{
    color: #D72130
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');