﻿.search-label {
    margin: 0 0 25px 30px;
}

.search-result-item {
    padding: 20px 20px 10px 20px;
    margin: 15px 30px 30px 0;
    width: 80%;
}

.search-result-image {
    height: 180px;
    width: 240px;
    margin-bottom: 20px;
}

.text-red {
    color: #D72130;
}

.text-gray {
    color: #B2B2B2;
}

.text-darkgrey {
    color: #7F7B7B;
}

.text-black {
    color: #000000;
}
