.video-title,.heading-start,.heading, {
    font-family: 'Roboto', sans-serif;
}
label {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}
.video-modal,.list-container {
    font-family: 'Roboto', sans-serif;
}
.form-label{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #7F7B7B
}
.video-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #2B2F43;
}
.btn{
    border-radius: 0%;
    border: none;
    font-weight: 500;
}

.btn-primary{
    background-color: #D72130
}
.btn-primary:hover, .btn-secondary:hover {
    background-color: #E02232
}
.btn-primary:focus, .btn-secondary:focus {
    background-color: #E02232
}
.btn-secondary {
    background-color: white;
    color: #D72130;
}
.dropdown-toggle {
    background-color: white;
    color: #2B2F43;
}
.form-control-plaintext {
    border: 1px solid #D4D9E2;
    font-family: 'Roboto', sans-serif;
    color: #7F7B7B
}

.form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e);
}

.form-check-input:checked[type=checkbox] {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e);
}

.form-switch{
    display:block;
    padding-left:0;
}



.form-check-input:checked {
    background-color: #D72130;
    border-color: #D72130;
}

.form-check .form-check-input {
    float: right;
    margin-left: 10px;
}

.bi-camera-fill{
    background-color:#D72130;
    padding-top: 5px;
    margin-top: -30%;
    margin-left: 75%;
}
.bi-exclamation-triangle-fill,.bi-check-circle-fill{
    background-color:#D72130;
    padding-top: 10px;
}
.modal-content{
    border-radius: 0;
}
.modal-body,.modal-content,.modal-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.modal-footer,.modal-header{
    display:inline-flex;
    justify-content: flex-end;
}
.modal-body,.modal-icon{
    align-items: center;
}
.modal-dialog {
    top:25%
}
.video-details{
    margin:10px;
}
.green-dot {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    background: #229D1F;
}
.red-dot {
    width: 5px;
    height: 5px;
    margin-right:5px;
    background: #E02232;
}
.thumbnail{
    margin:20px;
    width:320px;
    height:180px;
}
.detail-button {
    border: none;
    font-size:20px;
    color: #E02232;
}
.video-list {
    min-height:460px;
    max-height:1100px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.video-info {
    transition: transform .2s;
}
.video-info>.dropdown {
    display:none;
}
.video-info:hover {
    transform: scale(1.005);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.video-info:hover>.dropdown {
    display:block;
}
.video-preview, .video-container, #video-preview, #video-overlay {
    width: 960px;
    height: 540px;
    margin-left: 0;
}
.user-video-container {
    width:75%;
}
#video-overlay {
    display: none;
    position:relative;
}
.video-preview:hover > #video-preview {
    display:none;
}
.video-preview:hover > #video-overlay {
    display:block;
    width: 960px;
    height: 540px;
    margin-left: 0;
    background-color: gray;
}

.dropdown-filter {
    border-style: solid;
    border-color: #D4D9E2;
    border-width: 1px;
}
.title-bar {
    padding: 0 10% 0 10%;
    height:auto;
    margin-top: 10px;
}
.under-header{
    margin-top:10px;
}
.list-container,.preview-container{
    margin-left:10%;
    margin-right:10%;
}
.close {
    color: #D72130
}
.control{
    justify-content:center;
    align-items:center;
    height:50px;
    width:50px;
    align-content:center;
    background:#D72130;
    display: none;
}
.video-preview:hover > #video-overlay > .control {
    display: flex;
}
.upper-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#searchBar {
    display: none;
    border-width: 1px;
    border-style: solid;
    border-color: #D4D9E2;
}
#search:focus-visible {
    outline: none;
    border:none;
}
.user-videos-container {
    width: 1000px;
}
.main-thumbnail {
    width: 1000px;
    aspect-ratio:16/9;
}
.user-thumbnail {
    width: 400px;
    aspect-ratio:16/9;
}
.user-video-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 800px;
    overflow-y: scroll;
    border: 1px solid #D4D9E2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 100px;
}
.video-partial-list {
    border: 1px solid #D4D9E2;
    border-radius:10px;
    padding: 10px;
}
.user-video-list > a {
    margin-bottom: 30px;
}
.video-list-item {
    flex: 50%;
    position:relative;
}
.user-title {
    position: absolute;
    width:100%;
    height:24px;
    text-align:left;
    background-color: black;
    color: white;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}

.video-partial {
    display: flex;
}
.video-partial-list {
    flex: 50%;
}
.partial-list-item{
    display:flex;
    flex-direction:row;
    margin-bottom:20px;
}
.comments-list {
    display:flex;
    flex-direction:column;
}
.profile-picture {
    height: 40px;
    min-width: 40px;
    max-width:40px;
    border: 0;
    border-radius: 50%;
    overflow:hidden;
    margin:10px;
}
.comment-uploader {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.comment-content {
    margin-left:50px;
}
.comments-container {
    padding: 20px;
    border: 1px solid #D4D9E2;
    border-radius: 10px;
}
.list-thumbnail {
    min-width: 240px;
    height: 120px;
}
.list-title {
    font-weight: 700;
    margin: 10px;
    color: #2B2F43;
}
.comment {
    display: flex;
    flex-direction: row;
}
.main-video, .video-list-item {
    width: 100%;
    height: 100%;
}
.top-video {
    position: relative;
    margin-bottom: 80px;
}
.top-video > .top-right-iframe {
    position: absolute;
    top: 0px;
    right: 10px;
}
.top-video > .top-right-video {
    position: absolute;
    top: 23px;
    right: 10px;
}
.top-video > .top-title {
    position: absolute;
    text-shadow: -1px 0 #2B2F43, 0 1px #2B2F43, 1px 0 #2B2F43, 0 -1px #2B2F43;
    color: white;
    top: 50px;
    left: 20px;
}
.details-container{
    width:75%;
}
.heading-start {
    color: #B2B2B2;
    font-weight:300;
}
.heading{
    color:#D72130;
    font-weight:200;
}
.more-videos {
    display: flex;
    align-items: center;
    flex-direction:row;
    margin: 10px;
}
.more-btn {
    color: #B2B2B2;
    padding: 10px;
    border: 2px solid #B2B2B2;
    border-radius: 50px;
    width: 25%;
    text-align:center;
}
.more-line {
    border: 1px solid #B2B2B2;
    width: 100%;
}
.video-data {
    color:#B2B2B2
}
.new-comment{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.overlay{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');