@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500&display=swap');

html, * {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
}

header {
    height: 83px;
    border-bottom: 1px solid #EDEDED;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 0;
}

h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

label, .search-text {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.w-18 {
    display: flex;
    flex: 0 0 18%;
    max-width: 18%;
}

.w-7 {
    flex: 0 0 7%;
    max-width: 7%;
}

.logo {
    align-items: center;
    justify-content: center;
    background-color: #D72130;
    color: #FFFBFB;
}

.search {
    display: flex;
    align-items: center;
    justify-content: left;
    flex: 0 0 35%;
    max-width: 35%;
    padding-left: 37px;
    border-right: 1px solid #EDEDED;
}

.share {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 22%;
    max-width: 22%;
    border-right: 1px solid #EDEDED;
}

.authentication {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 25%;
    max-width: 25%;
}

.search-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 24px;
    color: #B2B2B2;
}

.search-icon {
    height: 20px;
    width: 20px
}

.search-form {
    margin-left: 20px;
}

.search-form-input {
    border: none;
    outline: none;
    color: #333333;
}

.share-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #B2B2B2;
    margin: 0px;
}

.share-icons {
    width: 130px;
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

.link-icons a {
    color: #000000;
}

.link-icons a:hover {
    color: #2B2F43;
}

.link-icons a:active {
    color: #C80515;
}

.auth-items {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.button-red {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #D72130;
}

.button-borderless:hover {
    color: #E02232;
}

.button-borderless:active {
    color: #C80515;
}

.button-white-auth-section {
    margin-left: 36px;
    margin-right: 26px;
}

.button-white {
    padding: 7px 36px;
    border: 1px solid #C63638;
}

.button-white:hover {
    background-color: #E02232;
    color: #FFFFFF;
}

.button-white:active {
    background-color: #C80515;
    color: #FFFFFF;
}

.auth-lang {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: -5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    border: none;
    padding-right: 2rem;
    color: black;
    outline:0px;
}

.auth-lang:hover {
    color: black;
}

.auth-lang:active {
    color: black;
}

.auth-lang:focus-visible {
    color: black;
}

.under-header {
    margin-top: 76px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-sections-list {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 48px;
}

.nav-sections-list a {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #B2B2B2;
}

.nav-sections-list li {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.nav-sections-list li:active {
    list-style: disc;
    color: #C63638;
}

.nav-sections-list a:active {
    color: #C63638;
}

.nav-sections-list-line {    
    width: 4px;
    height: 111px;
    top: 220px;
    left: 40px;
    border-radius: 30px;
    position: absolute;
    background-color: #D4D9E2;
}

.nav-icons {
    margin-top: 30px;
}

.nav-follow {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 15px;
    color: #B2B2B2;
}

.nav-icons-list {
    display: flex;
    max-width: 126px;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 48px;
    align-items: flex-start;
}

.upper-icons {
    margin-bottom: 10px;
}

.google-icon {
    padding-right: 5px;
}

.footer-info {
    display: flex;
    justify-content: flex-end;
    padding-left: 0px;
}

.footer-info div:first-child {
    padding-left: 0px;
}

.footer-info h3 {
    margin-bottom: 28px;
}

.footer-info div {
    border-top: 1px solid #D8D8D8;
    padding-top: 50px;
}

.footer-info ul {
    padding-left: 0px;
}

.footer-info li, .footer-info p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 14px;
}

.footer-info p {
    color: #434C5D;
}

.footer-info a {
    color: #7F7B7B;
}

.footer-copyright {
    height: 80px;
    margin-top: 40px;
}

.footer-copyright div {
    background-color: #D72130;
}

.copyright-and-terms {
    display: flex;
    justify-content: flex-end;
    padding-right: 56px;
}

.copyright-and-terms ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
}

.copyright-and-terms li {
    text-align: right;
}

.copyright-and-terms a, .copyright-and-terms p {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFBFB;
    margin-bottom: 0px;
}

.red-button-filled {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #FFF5F5;
    padding: 7px 20px;
    border: none;
    background-color: #D72130;;
}

.red-button-filled:hover {
    background-color: #E02232;;
}

.red-button-filled:active {
    background-color: #C80515;;
}

.newsletter-form {
    display: flex;
}

.email-input {
    padding: 0px 12px;
    border: 1px solid #D3D9E2;
}

.email-input:hover {
    border: 1px solid #A6A9AF;
}

.email-input:focus {
    outline: 0px;
    border: 1px solid #7F8899;
}