﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] | Sports Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/login-create-account.css" />
    <link rel="stylesheet" href="~/css/homePageLayout.css" />
    <script src="https://kit.fontawesome.com/eeab3bceea.js" crossorigin="anonymous" asp-append-version="true"></script>
</head>
<body>
    <div>
        <section class="vh-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-5 px-0 d-none d-sm-block">
                        <img src="~/images/account-banner.jpg" alt="Login image" class="w-100 vh-100"
                                style="object-fit: cover; object-position: left;">
                        <div class="sticky-top position-absolute bg-custom px-4 py-2">
                            <span class="text-white">Sports Hub</span>
                        </div>
                    </div>
                    <div class="col-sm-7 text-black">
                        <div class="row pt-3">
                            <div class="col-sm-7 text-right my-auto">
                                <span class="text-muted font-standart">@ViewData["OtherOptionSpan"]</span>
                            </div>
                            <div class="col-sm-5">
                                <a asp-page=@ViewData["OtherOptionLink"] class="btn button-general button-white rounded-0 shadow-none">
                                    @ViewData["OtherOption"]
                                </a>
                            </div>
                        </div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

</html>