﻿@page
@model LoginModel
 
@{
    Layout = "_AuthorizeLayout";
}

<div class="d-flex align-items-center h-custom-2 px-5 mt-5 pt-5">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="w-50">
        <h2 class="mb-3 pb-1 px-3">Log in to Sports Hub</h2>
        <div class="row row-cols-auto px-3 pb-3">
            <div class="col">
                <img src="~/images/FB.svg" alt="FaceBook logo"/>
                <img class="px-1" src="~/images/Gmail.svg" alt="Gmail logo"/>
            </div>
        </div> 
        <div class="col-sm-10">
            <label asp-for="Input.Email" class="label-font">Email Address</label>
            <input asp-for="Input.Email" type="email" class="form-control placeholder-custom rounded-0"
                    placeholder="Email@gmail.com"
                    required/>
        </div>
        <div class="col-sm-10 pt-2">
            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="Input.Password" class="label-font">password</label>
                </div>
                <div class="col-sm-6 text-right">
                    <a href="" class="font-standart">Forgot password?</a>
                </div>
            </div>
            <input asp-for="Input.Password" class="form-control rounded-0"
                    placeholder="8 + characters (letters and numbers)"
                    pattern="(?=.*[0-9])(?=.*[a-zA-Z])(.+)" minlength="8"
                    required/>
        </div>
        <div asp-validation-summary=All class="text-danger"></div>
        <div class="col-sm-10 pt-2">
            <button type="submit" class="button-general red-button-filled rounded-0 w-100 btn-lg">LOG IN</button>
        </div>
    </form>
</div>