﻿@page 
@model PersonalInfoModel

<link rel="stylesheet" href="~/css/personalInfoStyle.css" asp-append-version="true" />


<div class=" mx-auto w-50 mb-5">
    <ul class="nav nav-tabs nav-fill nav-personal w-100 mb-5" role="group" aria-label="Basic radio toggle button group">
        <li class="nav-item" >
            <a class="nav-link" data-toggle="tab" href="#personalInfo"  role="tab" aria-controls="personalInfo" aria-selected="true">Personal</a>
        </li>
            
        <li class="nav-item" >
            <a class="nav-link" data-toggle="tab" href="#changePassword"  role="tab" aria-controls="changePassword" aria-selected="true">Change password</a>
        </li>
            
        <li class="nav-item" >
            <a class="nav-link disabled" data-toggle="tab" href="#mySurveys"  role="tab" aria-controls="mySurveys" aria-selected="false">My surveys</a>
        </li>

        <li class="nav-item" >
            <a class="nav-link disabled" data-toxggle="tab" href="#teamHub"  role="tab" aria-controls="teamHub" aria-selected="false">Team hub</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane w-50 mx-auto mt-1" id="personalInfo" role="tabpanel" aria-labelledby="personalInfo-tab"> 
            <form enctype="multipart/form-data" asp-page-handler="Personal" method="post">
                <div asp-validation-summary="ModelOnly" id="_personalInfo" class="d-block mx-auto w-50"></div>
                <div class="form-group mb-4 w-25 mx-auto">
                    <input asp-for="InputPersonal.PictureFile" class="form-control" id="formFile" type="file" hidden accept=".jpg, .jpeg, .png">
                    <label for="formFile" class="rounded-circle">
                        <img src="~/uploads/profilePictures/@Model.InputPersonal.ProfilePicturePath" class="rounded-circle img-lg" height="40" width="40" asp-append-version="true" />
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-camera-fill rounded-circle" viewBox="0 0 15 20">
                            <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                        </svg>
                    </label>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="InputPersonal.FirstName" class="form-label"></label>
                    <input asp-for="InputPersonal.FirstName" class="form-control-plaintext" id="firstName">
                    <span asp-validation-for="InputPersonal.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="InputPersonal.LastName" class="form-label"></label>
                    <input asp-for="InputPersonal.LastName" class="form-control-plaintext" id="lastName">
                    <span asp-validation-for="InputPersonal.LastName" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="InputPersonal.Email" class="form-label"></label>
                    <input asp-for="InputPersonal.Email" class="form-control-plaintext" id="email">
                    <span asp-validation-for="InputPersonal.Email" class="text-danger"></span>
                </div>
                <input type="submit" class="submit btn btn-primary mb-4 w-100" value="UPDATE PROFILE">
            </form>  
        </div>  
        <div class="tab-pane w-50 mx-auto mt-3" id="changePassword" role="tabpanel" aria-labelledby="changePassword-tab">  
            <form enctype="multipart/form-data" asp-page-handler="Password" method="post">  
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-4">
                    <label asp-for="InputPassword.OldPassword" class="form-label"></label>
                    <input asp-for="InputPassword.OldPassword" class="form-control-plaintext" />
                    <span asp-validation-for="InputPassword.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="InputPassword.NewPassword" class="form-label"></label>
                    <input asp-for="InputPassword.NewPassword" class="form-control-plaintext" />
                    <span asp-validation-for="InputPassword.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="InputPassword.ConfirmPassword" class="form-label"></label>
                    <input asp-for="InputPassword.ConfirmPassword" class="form-control-plaintext" />
                    <span asp-validation-for="InputPassword.ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="submit" class="submit btn btn-primary mb-4 w-100" value="UPDATE PASSWORD">
            </form>  
        </div>
        <div class="tab-pane w-50 mx-auto" id="mySurveys" role="tabpanel" aria-labelledby="mySurveys-tab">
        </div>
        <div class="tab-pane w-50 mx-auto" id="teamHub" role="tabpanel" aria-labelledby="teamHub-tab">  
        </div>
    </div>
</div>
<script>
var onLoadTab = @Model.onLoadTab;
onLoadTab.classList.add("active")
var links=[...document.getElementsByClassName("nav-link")]
links.filter(x => x.getAttribute("aria-controls")==onLoadTab.id)[0].classList.add("active")
</script>