﻿@page
@model RegisterModel

@{
    Layout = "_AuthorizeLayout";
}

<div class="d-flex align-items-center h-custom-2 px-5 mt-5 pt-5">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h2 class="mb-3 pb-1 px-3">Create Account</h2>
        <div class="row row-cols-auto px-3 pb-3">
            <div class="col">
                <img src="~/images/FB.svg" alt="FaceBook logo"/>
                <img class="px-1" src="~/images/Gmail.svg" alt="Gmail logo"/>
            </div>
        </div>
        <span class="px-3 font-standart" style="color: #7F7B7B">Or use your email for registration:</span>
        <div class="row px-3 pt-3">
            <div class="col-sm-5 pt-2">
                <label asp-for="Input.FirstName" class="label-font">first name</label>
                <input asp-for="Input.FirstName" class="form-control rounded-0" placeholder="John" required />
            </div>
            <div class="col-sm-5 pt-2">
                <label asp-for="Input.LastName" class="label-font">last name</label>
                <input asp-for="Input.LastName" class="form-control rounded-0" placeholder="Doe" required />
            </div>
        </div>
        <div class="col-sm-10 pt-2">
            <label asp-for="Input.Email" class="label-font">email</label>
            <input asp-for="Input.Email" type="email" class="form-control rounded-0"
                    placeholder="johndoe@gmail.com"
                    required/>
        </div>
        <div class="col-sm-10 pt-2">
            <label asp-for="Input.Password" class="label-font">password</label>
            <input asp-for="Input.Password" class="form-control rounded-0"
                    placeholder="8 + characters (letters and numbers)"
                    pattern="(?=.*[0-9])(?=.*[a-zA-Z])(.+)" minlength="8"
                    required/>
        </div>
        <div asp-validation-summary=All class="text-danger"></div>
        <div class="col-sm-10 pt-2">
            <button type="submit" class="button-general red-button-filled rounded-0 w-100 btn-lg">SIGN UP</button>
        </div>
    </form>
</div>