﻿@page
@model web_app.Pages.ArticlesPartialModel

@{
    ViewData["Title"] = "Articles";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article list</title>

    <link rel="stylesheet" href="~/articles/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/articles/bootstrap5/css/bootstrap.css">
    <link rel="stylesheet" href="~/articles/bootstrap5/css/articleEdit.css">

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://kit.fontawesome.com/6df1037d80.js" crossorigin="anonymous"></script>
</head>

<h1>Articles</h1>

<p>
    <a asp-page="AddArticle">Add New article</a>
</p>

<div class="container border-0">
    <div class="container border-0 ">
        <a class="btn btn-danger me-2" role="button" href="#"
           style="border-radius: 0px;background: var(--bs-body-bg);color: var(--bs-danger);font-weight: bold;border-style: none;border-color: var(--bs-secondary);">
            <i class="far fa-eye" style="color: var(--bs-red);margin-right: 4px;"></i>
            Preview
        </a>
    </div>
    @*Also on the same way I get data for dropdowns for Teams Subcategories and locations.*@
    <div class="row p-md-1">
        <div class="col">
            <!-- <label for="subcategory" class="lable">Subcategory</label> -->
            @if (Model.Category != null)
            {
                <select class="form-select form-select-md mb-1 rounded-0" id="subcategory" aria-label=".form-select-lg">
                    <option selected>All subcategories</option>

                    @foreach (var category in Model.Category)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>

            }
        </div>
        <div class="col">
            <!-- <label for="team" class="lable">Team</label> -->
            @if (Model.Team != null)
            {
                <select class="form-select form-select-md mb-1" id="team" aria-label=".form-select-lg">
                    <option selected>All teams</option>
                    @foreach (var team in Model.Team)
                    {
                        <option value="@team.Id">@team.Name</option>
                    }
                </select>
            }
        </div>
        <div class="col">
            <!-- <label for="location" class="lable">Location</label> -->
            @if (Model.Location != null)
            {
                <select class="form-select form-select-md mb-1" id="location" aria-label=".form-select-lg">
                    <option selected>All Locations</option>
                    @foreach (var location in Model.Location)
                    {
                        <option value="@location.Id">@location.Name</option>
                    }
                </select>
            }
        </div>
    </div>
    <div class="container-md overflow-auto scrollbar-danger">


        @if (Model.Article != null)
        {

            @foreach (var article in Model.Article)
            {
                string imagePath = "";
                @if (!String.IsNullOrEmpty(article.PictureUrl))
                {
                    imagePath = "../articles/pictures/" + @article.PictureUrl;
                }

                <div class="row p-md-1 articleHover">
                    <div class="delete-article">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu">
                                @*<a class="dropdown-item" asp-page="./PartialDelete" asp-route-id="@article.Id" data-bs-toggle="modal" data-bs-target="#deleteArticleModal">
                                        Delete
                                    </a>*@
                                <a class="dropdown-item" href="#" data-bs-target="#deleteArticleModal">Publish</a>
                                <a class="dropdown-item" asp-page="./DeleteArticle" asp-route-id="@article.Id">Delete</a>
                            </div>
                        </div>
                    </div>

                    <a style="text-decoration: none" asp-page="./UpdateArtile" asp-route-id="@article.Id">

                        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 articles ">
                            <div class="col align-content-center">
                                <div>
                                    <img class="rounded img-fluid d-block w-100 fit-cover align-content-center" style="height: 200px;" src="@imagePath" />
                                    <div class="py-4"></div>
                                </div>
                            </div>
                            <div class="col ">
                                <div>
                                    <div class="py-4">
                                        <h4>@article.Headline</h4>

                                        <div class="truncate-overflow">
                                            <p>
                                                @Html.Raw(article.Content)

                                            </p>

                                        </div>
                                    </div>
                                    <div class="input-group mb-3">

                                        <input type="text" asp-for="@article.Team.Name" class="form-control" id="aticleHeadline" placeholder="Team">

                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">/</span>
                                        </div>

                                        <div class="input-group-append">
                                            <input type="text" asp-for="@article.Location.Name" class="form-control" id="aticleHeadline" placeholder="Location">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row p-md-1 ">
                            <h6 class="container isPublished ">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                Published
                            </h6>
                        </div>
                    </a>
                </div>


                // pop up when tap delite
                <!-- Modal window for Delete article -->
                <div class="modal fade delete-article-modal" id="deleteArticleModal" tabindex="-1" aria-labelledby="deleteArticleModalLabel" aria-hidden="true">
                    <input type="hidden" asp-for="@article.Id" />
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteArticleModalLabel">You Are about to delete an article</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <span>This article will be deleted from Sports Hub!</span>
                                <span>Are you sure?</span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                <form method="post">
                                    <input type="hidden" asp-page="./ArticleS" asp-for="@article.Id" />

                                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                                    @*<a asp-page="./Articles">Back to List</a>*@
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }

    </div>
</div>




<script src="~/articles/bootstrap5/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
        integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA=="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

