﻿@page
@model web_app.Pages.Search

@{
    ViewData["Title"] = "Search Results";
}

<link rel="stylesheet" type="text/css" href="css/search.css" asp-append-version="true"/>

<div class="text-left">
    <h2 class="search-label">@(Model.SearchString)(@Model.SearchItems.Count.ToString())</h2>
    @if (Model.SearchItems.Any())
    {
        @foreach (var searchItem in Model.SearchItems)
        {
            <div class="row search-result-item">
                <p>
                    @if (searchItem.CategorySequence.Any())
                    {
                        @foreach (var category in searchItem.CategorySequence)
                        {
                            <b class="text-gray">@category</b>
                            <svg xmlns="http://www.w3.org/2000/svg" 
                                 class="icon icon-tabler icon-tabler-chevron-right" 
                                 width="24" height="24" viewBox="0 0 24 24" 
                                 stroke-width="2" stroke="#B2B2B2" fill="none" 
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <polyline points="9 6 15 12 9 18"></polyline>
                            </svg>
                        }
                    }
                    <b class="text-red">@Html.Raw(searchItem.Title)</b>
                </p>
                @if (searchItem.IsPictureUrl)
                {
                    <img class="search-result-image" src=@searchItem.PictureUrl alt="Preview picture"/>
                }
                <p class="search-result-description text-darkgrey">@Html.Raw(searchItem.Description)</p>
                <a class="d-none search-result-link" href=@searchItem.Url></a>
            </div>
        }
    }
    else
    {
        <h2 class="search-label">Search found no results</h2>
    }
</div>

<script>
    let searchResult = $('.search-result-item');
    searchResult.click(
      function() {
          $(this).find('.search-result-link')[0].click();
      }
    );
    searchResult.hover(
        function() {
            $(this).addClass('shadow-sm').css('cursor', 'pointer');
        },
        function() {
            $(this).removeClass('shadow-sm');
        }
    );
    $('.search-result-description > b').addClass('text-black');
</script>