html {
    font-family: 'Open Sans', sans-serif;
}

.form-font {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #7F7B7B;
    text-transform: uppercase;
}

::placeholder {
    font-family: "Open Sans";
    font-size: 14px;
    color: #B2B2B2 !important;
}

.bg-custom {
    background-color: #D72130;
    color: white;
}

.bg-custom:hover {
    background-color: #E02232;
    color: white;
}

.bg-custom:focus {
    background-color: #C80515;
    color: white;
}