﻿@model BAL.DTOs.Categories.CategoriesIndexViewModel;

@*To use, insert categoriesHeader.css in the main view and pass CategoryIndexViewModel 
(see in CategoriesController - CategoriesListedPartial action)
to the partial view like this
<partial name="_CategoriesListedPartial" model="Model" />
and add the categoriesHeader.css style*@

<div class="info-architecture-category-list d-flex">
    <div class="arrow-icon-section d-flex">
        <a id="arrow-button-previous" href=""><em class="fa-solid fa-arrow-left-long"></em></a>
    </div>
    <ul id="categories-listed-ul" class="category-names-list row">
        <li class="col-1 align-items-center not-hidden">
            <a href="/" class="categories-navigation-link">HOME</a>
        </li>
        @for (int i = 0; i < @Model.Categories.Count; i++)
        {
            @if (i <= 10)
            {
                <li id="@string.Format($"{@Model.Categories[i].Name}-listed")" class="col-1 align-items-center not-hidden">
                    <a class="categories-navigation-link" href="#">@Model.Categories[i].Name</a>
                    @if (@Model.Categories[i].IsHidden)
                    {
                        <div class="hidden-div">
                            <p>hidden</p>
                        </div>
                    }
                </li>
            }
            else
            {
                <li class="col-1 align-items-center hidden-after">
                    <a class="categories-navigation-link" href="#">@Model.Categories[i].Name</a>
                    @if (@Model.Categories[i].IsHidden)
                    {
                        <div class="hidden-div">
                            <p>hidden</p>
                        </div>
                    }
                </li>
            }
        }

    </ul>
    <div class="arrow-icon-section d-flex">
        <a id="arrow-button-next" onclick="ArrowNext()" href=""><em class="fa-solid fa-arrow-right-long"></em></a>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    // Function to extract query string parameters
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)')
            .exec(window.location.search);

        return (results !== null) ? results[1] || 0 : false;
    }

    // "Next" Arrow Function
    function ArrowNext() {
        event.preventDefault();

        $("#arrow-button-previous").attr("href", "");
        $("#arrow-button-previous").removeAttr("role");
        $("#arrow-button-previous").removeAttr("aria-disabled");
        $("#arrow-button-previous").css("color", "#C63638");
        $("#arrow-button-previous").unbind('click');
        $("#arrow-button-previous").click(ArrowPrevious);

        $("#arrow-button-previous").hover(function () {
            $(this).css("color", "#C63638");
        });

        var lastVisibleName = $(".not-hidden").last().text().trim();

        var index = $('.categories-navigation-link').length - 1;
        var penultimateCategory = $("#categories-listed-ul li:nth-child(" + index + ")").children().text();

        if (lastVisibleName == penultimateCategory) {
            $("#arrow-button-next").removeAttr("href");
            $("#arrow-button-next").attr("role", "link");
            $("#arrow-button-next").attr("aria-disabled", "true");

            $("#arrow-button-next").hover(function () {
                $(this).css("color", "#C4C4C4");
            });

            $("#arrow-button-next").prop("onclick", null).off("click");
        }

        $(".not-hidden").first().css("display", "none");
        $(".not-hidden").first().addClass("hidden-before");
        $(".not-hidden").first().removeClass("not-hidden");

        $(".hidden-after").first().css("display", "flex");
        $(".hidden-after").first().addClass("not-hidden");
        $(".hidden-after").first().removeClass("hidden-after");
    };

    // "Previous" Arrow Function
    function ArrowPrevious() {
        event.preventDefault();

        $("#arrow-button-next").attr("href", "");
        $("#arrow-button-next").removeAttr("role");
        $("#arrow-button-next").removeAttr("aria-disabled");
        $("#arrow-button-next").css("color", "#C63638");
        $("#arrow-button-next").unbind('click');
        $("#arrow-button-next").click(ArrowNext);

        $("#arrow-button-next").hover(function () {
            $(this).css("color", "#C63638");
        });

        var hiddenBeforeCount = $(".hidden-before").length;

        if (hiddenBeforeCount == 1) {
            $("#arrow-button-previous").removeAttr("href");
            $("#arrow-button-previous").attr("role", "link");
            $("#arrow-button-previous").attr("aria-disabled", "true");

            $("#arrow-button-previous").hover(function () {
                $(this).css("color", "#C4C4C4");
            });

            $("#arrow-button-previous").prop("onclick", null).off("click");
        }

        $(".not-hidden").last().css("display", "none");
        $(".not-hidden").last().addClass("hidden-after");
        $(".not-hidden").last().removeClass("not-hidden");

        $(".hidden-before").last().css("display", "flex");
        $(".hidden-before").last().addClass("not-hidden");
        $(".hidden-before").last().removeClass("hidden-before");
    };

    $(document).ready(function () {
        $("#arrow-button-previous").removeAttr("href");
        $("#arrow-button-previous").attr("role", "link");
        $("#arrow-button-previous").attr("aria-disabled", "true");

        $("#arrow-button-previous").hover(function () {
            $(this).css("color", "#C4C4C4");
        });

        $("#arrow-button-previous").prop("onclick", null).off("click");

        if (@Model.Categories.Count() > 11) {
            $("#arrow-button-next").css("color", "#C63638");
        }
        else {
            $("#arrow-button-next").removeAttr("href");
            $("#arrow-button-next").attr("role", "link");
            $("#arrow-button-next").attr("aria-disabled", "true");

            $("#arrow-button-next").hover(function () {
                $(this).css("color", "#C4C4C4");
            });

            $("#arrow-button-next").prop("onclick", null).off("click");
        }
    });
</script>
