﻿@model BAL.DTOs.Categories.CategoriesIndexViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" asp-append-version="true" />
    <link href="~/css/homePageLayout.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/informationArchitecture.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/categoriesHeader.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

    <!-- Google Fonts -->
    <script src="https://kit.fontawesome.com/eeab3bceea.js" crossorigin="anonymous" asp-append-version="true"></script>

    <title>@this.ViewData["Title"]</title>
</head>
<body>
    <partial name="_HeaderPartial" />

    <div class="info-architecture-header d-flex">
        <h1>Information Architecture</h1>
        <button id="button-save" type="submit">Save</button>
        <div class="save-modal d-none flex-column">
            <div class="close-icon d-flex flex-row-reverse">
                <em class="fa-solid fa-xmark"></em>
            </div>
            <div class="save-info d-flex">
                <div class="check-icon d-flex justify-content-center align-items-center">
                    <em class="fa-solid fa-check"></em>
                </div>
                <div class="paragraphs">
                    <p class="m-0" style="font-weight: 700;">Saved!</p>
                    <p class="m-0">The information architecture is successfully saved!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="categories-header-partial">
        <partial name="_CategoriesListedPartial" model="Model" />
    </div>

    <div class="info-architecture-main container row">
        <ul id="categories-ul" class="col-2">
            <li class="add-category category-item">
                <!--Add Category Button-->
                <button class="categories-open-modal-button" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">+ Add category</button>

                <!--Add Category Modal-->
                <div id="categories-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content d-flex justify-content-center">
                            <div class="categories-form">
                                <h2 class="text-center">Add new category</h2>

                                <div>
                                    <label>Name</label>
                                    <input id="category-name-input" class="form-control rounded-0" placeholder="Name your menu item" name="name" required />
                                </div>

                                <div class="category-modal-buttons d-flex">
                                    <button class="button-white-borderless button-borderless" data-dismiss="modal">Cancel</button>
                                    <button id="add-category-button" class="button-red-fill" type="submit">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Edit Category Modal-->
                <div id="edit-category-modal" class="modal fade bd-example-modal-lg edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content d-flex justify-content-center">
                            <div class="categories-form">
                                <h2 class="text-center">Edit category</h2>

                                <div>
                                    <label>New name</label>
                                    <input id="category-edit-name-input" class="form-control rounded-0" placeholder="Name your menu item" name="name" required />
                                </div>

                                <div class="category-modal-buttons d-flex">
                                    <button class="button-white-borderless button-borderless" data-dismiss="modal">Cancel</button>
                                    <button id="edit-category-button" class="button-red-fill" type="submit" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Delete Category Modal-->
                <div id="delete-category-modal" class="modal delete-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content d-flex justify-content-center">
                            <div class="categories-form">
                                <div class="delete-modal-icon d-flex justify-content-center align-items-center">
                                    <em class="fa-solid fa-trash-can"></em>
                                </div>
                                <div class="delete-modal-confirmation-text">
                                    <p class="text-center">You are about to delete this category!</p>
                                    <p class="text-center">Are you sure?</p>
                                </div>

                                <div class="category-modal-buttons d-flex">
                                    <button class="button-white-borderless button-borderless" data-dismiss="modal">Cancel</button>
                                    <button id="delete-category-button" class="button-red-fill" data-dismiss="modal" type="submit">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            @foreach (var category in @Model.Categories)
            {
                <li id="@category.Name" class="category-listed category-item category-li">
                    @*<a href="@string.Format($"?{category.Name}")">@category.Name</a>*@
                    <a class="category-listed-link" last-saved-name="@category.Name" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-categoryName="@category.Name">@category.Name</a>
                    @if (category.IsHidden)
                        {
                            <div class="hidden-div">
                                <p>hidden</p>
                            </div>
                        }
                        else {
                            <div class="hidden-div hidden">
                                <p>hidden</p>
                            </div>
                        }
                    <div class="kebab-menu">
                        <div class="dropdown-container" tabindex="-1">
                            <div class="three-dots">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <div class="dropdown">
                                <div class="three-dots">
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                </div>
                                @if (!category.IsHidden) {
                                    <div class="dropdown-item dropdown-hide-category d-flex align-items-center"><p class="text-center m-0">Hide</p></div>
                                }
                                else {
                                    <div class="dropdown-item dropdown-hide-category d-flex align-items-center"><p class="text-center m-0">Unhide</p></div>
                                }
                                <div class="dropdown-item d-flex align-items-center" data-toggle="modal" data-target="#edit-category-modal"><p class="text-center m-0">Edit</p></div>
                                <div class="dropdown-item dropdown-delete d-flex align-items-center" data-toggle="modal" data-target="#delete-category-modal"><p class="text-center m-0">Delete</p></div>
                                <div class="dropdown-item-filler"></div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <ul id="subcategories-ul" class="col-2">
            <li id="button-for-open-subcategories-modal" class="add-category category-item">
                <!--Add Subcategory Button-->
                <button class="categories-open-modal-button" type="button" data-toggle="modal" data-target=".subcategories-modal">+ Add sub category</button>

                <!--Add Subcategory Modal-->
                <div id="subcategories-modal" class="modal fade bd-example-modal-lg subcategories-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content d-flex justify-content-center">
                            <div class="categories-form">
                                <h2 class="text-center">Add new subcategory</h2>

                                <div>
                                    <label>Name</label>
                                    <input id="subcategory-name-input" class="form-control rounded-0" placeholder="Name your menu item" name="name" required />
                                </div>

                                <div class="category-modal-buttons d-flex">
                                    <button class="button-white-borderless button-borderless" data-dismiss="modal">Cancel</button>
                                    <button id="add-subcategory-button" class="button-red-fill" type="submit">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Edit Subcategory Modal-->
                <div id="edit-subcategory-modal" class="modal fade bd-example-modal-lg edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content d-flex justify-content-center">
                            <div class="categories-form">
                                <h2 class="text-center">Edit subcategory</h2>

                                <div>
                                    <label>New name</label>
                                    <input id="subcategory-edit-name-input" class="form-control rounded-0" placeholder="Name your menu item" name="name" required />
                                </div>

                                <div class="category-modal-buttons d-flex">
                                    <button class="button-white-borderless button-borderless" data-dismiss="modal">Cancel</button>
                                    <button id="edit-subcategory-button" class="button-red-fill" type="submit" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Delete Subcategory Modal-->
                <div id="delete-subcategory-modal" class="modal delete-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content d-flex justify-content-center">
                            <div class="categories-form">
                                <div class="delete-modal-icon d-flex justify-content-center align-items-center">
                                    <em class="fa-solid fa-trash-can"></em>
                                </div>
                                <div class="delete-modal-confirmation-text">
                                    <p class="text-center">You are about to delete this subcategory!</p>
                                    <p class="text-center">Are you sure?</p>
                                </div>

                                <div class="category-modal-buttons d-flex">
                                    <button class="button-white-borderless button-borderless" data-dismiss="modal">Cancel</button>
                                    <button id="delete-subcategory-button" class="button-red-fill" data-dismiss="modal" type="submit">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            @foreach (var category in @Model.Categories)
            {
                @foreach (var subcategory in category.Subcategories)
                {
                    <li id="@subcategory.Name" class="category-listed category-item subcategory-li" category-name="@category.Name" style="display: none;">
                        <a class="category-listed-link" last-saved-name="@subcategory.Name" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-categoryName="@category.Name" asp-route-subcategoryName="@subcategory.Name">@subcategory.Name</a>
                        @if (subcategory.IsHidden)
                        {
                            <div class="hidden-div">
                                <p>hidden</p>
                            </div>
                        }
                        else {
                            <div class="hidden-div hidden">
                                <p>hidden</p>
                            </div>
                        }
                        <div class="kebab-menu">
                            <div class="dropdown-container" tabindex="-1">
                                <div class="three-dots">
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                </div>
                                <div class="dropdown">
                                    <div class="three-dots">
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                    </div>
                                    <div class="dropdown-move-to dropdown-item d-flex align-items-center">
                                        <p class="text-center m-0">Move to</p>
                                        <em class="fa-solid fa-caret-right"></em>
                                        <div class="move-to-list">
                                            @foreach (var categoryItem in Model.Categories)
                                            {
                                                <div category-name="@categoryItem.Name" class="move-to-list-item d-flex align-items-center" onclick="MoveToSubcategoryClick(event)"><p class="text-center m-0">@categoryItem.Name</p></div>
                                            }
                                        </div>
                                    </div>
                                    @if (!subcategory.IsHidden)
                                    {
                                        <div class="dropdown-item dropdown-hide-subcategory d-flex align-items-center"><p class="text-center m-0">Hide</p></div>
                                    }
                                    else
                                    {
                                        <div class="dropdown-item dropdown-hide-subcategory d-flex align-items-center"><p class="text-center m-0">Unhide</p></div>
                                    }
                                    <div class="dropdown-item d-flex align-items-center" data-toggle="modal" data-target="#edit-subcategory-modal"><p class="text-center m-0">Edit</p></div>
                                    <div class="dropdown-item dropdown-delete d-flex align-items-center" data-toggle="modal" data-target="#delete-subcategory-modal"><p class="text-center m-0">Delete</p></div>
                                    <div class="dropdown-item-filler"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
        <ul id="teams-ul" class="col-2">
            <li id="button-for-open-teams-modal" class="add-category category-item">
                <!--Add Team Button-->
                <button class="categories-open-modal-button" type="button" data-toggle="modal" data-target=".teams-modal">+ Add team</button>

                <!--Add Team Modal-->
                <div id="teams-modal" class="modal fade bd-example-modal-lg teams-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content d-flex justify-content-center">
                            <div class="categories-form">
                                <h2 class="text-center">Add new team</h2>

                                <div>
                                    <label>Name</label>
                                    <input id="team-name-input" class="form-control rounded-0" placeholder="Name your menu item" name="name" required />
                                </div>

                                <div class="category-modal-buttons d-flex">
                                    <button class="button-white-borderless button-borderless" data-dismiss="modal">Cancel</button>
                                    <button id="add-team-button" class="button-red-fill" type="submit">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Edit Team Modal-->
                <div id="edit-team-modal" class="modal fade bd-example-modal-lg edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content d-flex justify-content-center">
                            <div class="categories-form">
                                <h2 class="text-center">Edit team</h2>

                                <div>
                                    <label>New name</label>
                                    <input id="team-edit-name-input" class="form-control rounded-0" placeholder="Name your menu item" name="name" required />
                                </div>

                                <div class="category-modal-buttons d-flex">
                                    <button class="button-white-borderless button-borderless" data-dismiss="modal">Cancel</button>
                                    <button id="edit-team-button" class="button-red-fill" type="submit" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Delete Team Modal-->
                <div id="delete-team-modal" class="modal delete-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content d-flex justify-content-center">
                            <div class="categories-form">
                                <div class="delete-modal-icon d-flex justify-content-center align-items-center">
                                    <em class="fa-solid fa-trash-can"></em>
                                </div>
                                <div class="delete-modal-confirmation-text">
                                    <p class="text-center">You are about to delete this team!</p>
                                    <p class="text-center">Are you sure?</p>
                                </div>

                                <div class="category-modal-buttons d-flex">
                                    <button class="button-white-borderless button-borderless" data-dismiss="modal">Cancel</button>
                                    <button id="delete-team-button" class="button-red-fill" data-dismiss="modal" type="submit">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            @foreach (var category in @Model.Categories)
            {
                @foreach (var subcategory in category.Subcategories)
                {
                    @foreach (var team in subcategory.Teams)
                    {
                        <li id="@team.Name" class="category-listed category-item team-li" subcategory-name="@subcategory.Name" style="display: none;">
                            <a class="category-listed-link" last-saved-name="@team.Name" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-categoryName="@category.Name" asp-route-subcategoryName="@subcategory.Name" asp-route-teamName="@team.Name">@team.Name</a>
                            @if (team.IsHidden)
                            {
                                <div class="hidden-div">
                                    <p>hidden</p>
                                </div>
                            }
                            else
                            {
                                <div class="hidden-div hidden">
                                    <p>hidden</p>
                                </div>
                            }
                            <div class="kebab-menu">
                                <div class="dropdown-container" tabindex="-1">
                                    <div class="three-dots">
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                    </div>
                                    <div class="dropdown">
                                        <div class="three-dots">
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                        </div>
                                        <div class="dropdown-move-to dropdown-item d-flex align-items-center">
                                            <p class="text-center m-0">Move to</p>
                                            <em class="fa-solid fa-caret-right"></em>
                                            <div class="move-to-list-second">
                                               @foreach (var categoryItem in Model.Categories.Where(c => c.Subcategories.Any()))
                                               {
                                                   @if (categoryItem.Subcategories.Any(s => s.Name != subcategory.Name))
                                                   {
                                                    <div category-name="@categoryItem.Name" class="move-to-list-item move-to-list-item-parent d-flex align-items-center">
                                                        <p class="text-center m-0">@categoryItem.Name</p>
                                                        <em class="fa-solid fa-caret-right"></em>
                                                        <div class="move-to-list-subcategories">
                                                            @foreach (var subcategoryItem in categoryItem.Subcategories) 
                                                            {
                                                                <div subcategory-name="@subcategoryItem.Name" class="move-to-list-item move-to-list-item-team d-flex align-items-center" onclick="MoveToTeamClick(event)"><p class="text-center m-0">@subcategoryItem.Name</p></div>
                                                            }
                                                        </div>
                                                    </div>
                                                   }
                                               }
                                            </div>
                                        </div>
                                        @if (!team.IsHidden)
                                        {
                                            <div class="dropdown-item dropdown-hide-team d-flex align-items-center"><p class="text-center m-0">Hide</p></div>
                                        }
                                        else
                                        {
                                            <div class="dropdown-item dropdown-hide-team d-flex align-items-center"><p class="text-center m-0">Unhide</p></div>
                                        }
                                        <div class="dropdown-item d-flex align-items-center" data-toggle="modal" data-target="#edit-team-modal"><p class="text-center m-0">Edit</p></div>
                                        <div class="dropdown-item dropdown-delete d-flex align-items-center" data-toggle="modal" data-target="#delete-team-modal"><p class="text-center m-0">Delete</p></div>
                                        <div class="dropdown-item-filler"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            }
        </ul>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        // Page Load Setup
        $(document).ready(function () {
            // Move To Adjustment
            $(".move-to-list").each(function (i, obj) {
                var categoryName = $(this).parents().eq(4).attr('category-name');
                $(this).children('[category-name=' + categoryName + ']').remove();
            });

            $(".move-to-list-subcategories").each(function (i, obj) {
                var subcategoryName = $(this).parents().eq(6).attr('subcategory-name');
                $(this).children('[subcategory-name="' + subcategoryName + '"]').remove();
            });
        });

        // Function to extract query string parameters
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                .exec(window.location.search);

            return (results !== null) ? results[1] || 0 : false;
        }

        // Save modal adjustment
        $(".close-icon em").click(function () {
            $(".save-modal").removeClass("d-flex");
            $(".save-modal").addClass("d-none");
        });

        // Hides Kebab Menu on dots click
        $(".info-architecture-main .dropdown .three-dots").click(function () {
            $(".info-architecture-main .dropdown-container").blur();
        });

        // Changes the url when clicking on a category and shows subcategories of that category / Responsible for the style changes when clicking on different categories
        $(".category-li").click(function () {
            event.preventDefault();
            var url = $(this).children(":first").attr('href');
            window.history.replaceState("object or string", "Title", url);

            var categoryName = window.location.href.slice(window.location.href.indexOf('=') + 1);
            var categorySavedName = $("#" + categoryName + " a").attr('last-saved-name');

            $(".subcategory-li").css("display", "none");
            $(".team-li").css("display", "none");

            $('[category-name="' + categorySavedName + '"]').css("display", "flex");

            $(".category-li").css("box-shadow", "none");
            $(this).css("box-shadow", "3px 2px 14px rgba(0, 0, 0, 0.09)");
            $(".category-li").css("border", "0.5px solid #D4D9E2");
            $(this).css("border", "none");
            $(".category-li a").css("color", "#B2B2B2");
            $(this).children(":first").css("color", "#D72130");
            $("#button-for-open-subcategories-modal").css("display", "flex");
            $("#button-for-open-teams-modal").css("display", "none");

            $(".subcategory-li").css("box-shadow", "none");
            $(".subcategory-li").css("border", "0.5px solid #D4D9E2");
            $(".subcategory-li a").css("color", "#B2B2B2");

            $(".subcategoryForDeletion").parent().css("display", "none");
        });

        // Changes the url when clicking on a subcategory and shows teams of that subcategory / Responsible for the style changes when clicking on different subcategories
        $('.subcategory-li').click(function () {
            event.preventDefault();
            var url = $(this).children(":first").attr('href');
            window.history.replaceState("object or string", "Title", url);
            
            var subcategoryName = decodeURI($.urlParam('subcategoryName'));
            var subcategorySavedName = $("[id='" + subcategoryName + "'] a").attr('last-saved-name');

            $(".team-li").css("display", "none");
            $('[subcategory-name="' + subcategorySavedName + '"]').css("display", "flex");

            $(".subcategory-li").css("box-shadow", "none");
            $(this).css("box-shadow", "3px 2px 14px rgba(0, 0, 0, 0.09)");
            $(".subcategory-li").css("border", "0.5px solid #D4D9E2");
            $(this).css("border", "none");
            $(".subcategory-li a").css("color", "#B2B2B2");
            $(this).children(":first").css("color", "#D72130");
            $("#button-for-open-teams-modal").css("display", "flex");

            $(".team-li").css("box-shadow", "none");
            $(".team-li").css("border", "0.5px solid #D4D9E2");
            $(".team-li a").css("color", "#B2B2B2");

            $(".teamForDeletion").parent().css("display", "none");

            if ($(this).hasClass('for-changing-url')) {
                var url = $(location).attr('href');
                var newUrl = url.substr(0, url.indexOf('subcategoryName') - 1);
                window.history.replaceState("object or string", "Title", newUrl);

                var categoryNameForUrl = $(this).attr('category-name');
                var subcategoryNameForUrl = encodeURI($(this).attr('id'));
                console.log(subcategoryNameForUrl);
                var newUrlForElement = '/Categories?categoryName=' + categoryNameForUrl + '&subcategoryName=' + subcategoryNameForUrl;

                $(this).find('.category-listed-link').attr('href', newUrlForElement);

                $(this).removeClass('for-changing-url');
            }

            $(".hiding-after-move-to").css('display', 'none');
            $(".hiding-after-move-to").removeClass('hiding-after-move-to');
        });

        // Changes the url when clicking on a team / Responsible for the style changes when clicking on different teams
        $('.team-li').click(function () {
            event.preventDefault();
            var url = $(this).children(":first").attr('href');
            window.history.replaceState("object or string", "Title", url);

            $(".team-li").css("box-shadow", "none");
            $(this).css("box-shadow", "3px 2px 14px rgba(0, 0, 0, 0.09)");
            $(".team-li").css("border", "0.5px solid #D4D9E2");
            $(this).css("border", "none");
            $(".team-li a").css("color", "#B2B2B2");
            $(this).children(":first").css("color", "#D72130");

            if ($(this).hasClass('for-changing-url')) {
                var url = $(location).attr('href');
                var newUrl = url.substr(0, url.indexOf('teamName') - 1);
                window.history.replaceState("object or string", "Title", newUrl);

                var subcategoryNameForUrl = $(this).attr('subcategory-name');
                var categoryNameForUrl = $('[id="' + subcategoryNameForUrl + '"]').attr('category-name');
                var teamNameForUrl = encodeURI($(this).attr('id'));

                var newUrlForElement = '/Categories?categoryName=' + categoryNameForUrl + '&subcategoryName=' + subcategoryNameForUrl + '&teamName=' + teamNameForUrl;

                $(this).find('.category-listed-link').attr('href', newUrlForElement);

                $(this).removeClass('for-changing-url');

                $(this).css('display', 'none');
            }

            $(".hiding-after-move-to").css('display', 'none');
            $(".hiding-after-move-to").removeClass('hiding-after-move-to');
        });

        // Add Category
        $("#add-category-button").click(function () {
            var name = $("#category-name-input").val();
            
            $('#category-name-input').val('');

                // Changes UI
                $("#categories-ul").append(
                    '<li id="' + name + '" class="category-listed category-item category-li">' +
                    '<a class="category-listed-link hidden-check-category new-category" last-saved-name="' + name + '" href="/Categories?categoryName=' + name + '">' + name + '</a>' +
                    '<div class="hidden-div hidden">' +
                        '<p>hidden</p>' +
                    '</div>' +    
                    '<div class="kebab-menu">' +
                            '<div class="dropdown-container" tabindex="-1">' +
                                '<div class="three-dots">' +
                                    '<div class="circle"></div>' +
                                    '<div class="circle"></div>' +
                                    '<div class="circle"></div>' +
                                '</div>' +
                            '<div class="dropdown">' +
                                '<div class="three-dots">' +
                                    '<div class="circle" > </div>' +
                                    '<div class="circle" > </div>' +
                                    '<div class="circle" > </div>' +
                                '</div>' +
                                '<div class="dropdown-item dropdown-hide-category d-flex align-items-center"><p class="text-center m-0">Hide</p></div>' +
                                '<div data-toggle="modal" data-target="#edit-category-modal" class="dropdown-item d-flex align-items-center"><p class="text-center m-0">Edit</p></div>' +
                                '<div id="dropdown-delete" data-toggle="modal" data-target="#delete-category-modal" class="dropdown-item d-flex align-items-center"><p class="text-center m-0">Delete</p></div>' +
                                '<div class="dropdown-item-filler"></div>' +
                            '</div>' +
                       '</div>' +
                    '</div>' +
                '</li>');

                $('.category-listed a').click(function (event) {
                    event.preventDefault();
                    var url = $(this).attr('href');
                    window.history.replaceState("object or string", "Title", url);
                });

                // Gives the click event to the new category
                $(".category-li").click(function () {
                    event.preventDefault();
                    var url = $(this).children(":first").attr('href');
                    window.history.replaceState("object or string", "Title", url);

                    var categoryName = window.location.href.slice(window.location.href.indexOf('=') + 1);
                    var categorySavedName = $("#" + categoryName + " a").attr('last-saved-name');

                    $(".subcategory-li").css("display", "none");
                    $(".team-li").css("display", "none");

                    $('[category-name="' + categorySavedName + '"]').css("display", "flex");

                    $(".category-li").css("box-shadow", "none");
                    $(this).css("box-shadow", "3px 2px 14px rgba(0, 0, 0, 0.09)");
                    $(".category-li").css("border", "0.5px solid #D4D9E2");
                    $(this).css("border", "none");
                    $(".category-li a").css("color", "#B2B2B2");
                    $(this).children(":first").css("color", "#D72130");
                    $("#button-for-open-subcategories-modal").css("display", "flex");
                    $("#button-for-open-teams-modal").css("display", "none");

                    $(".subcategory-li").css("box-shadow", "none");
                    $(".subcategory-li").css("border", "0.5px solid #D4D9E2");
                    $(".subcategory-li a").css("color", "#B2B2B2");

                    $(".subcategoryForDeletion").parent().css("display", "none");
                });

                // Turn on Hide functionality
                $("#" + name + " .dropdown-hide-category").click(function () {
                    event.preventDefault();

                    var currentState = $(this).first().text();

                    if (currentState == 'Hide') {
                        $(this).first().text("Unhide");
                        var parentEl = $(this).parents().eq(3);
                        parentEl.children('.hidden-div').removeClass("hidden");
                    }
                    else {
                        $(this).first().text("Hide");
                        var parentEl = $(this).parents().eq(3);
                        parentEl.children('.hidden-div').addClass("hidden");
                    }

                    if (!parentEl.children('.category-listed-link').hasClass('hidden-check-category')) {
                        parentEl.children('.category-listed-link').addClass('hidden-check-category');
                    }
                });

                $(".dropdown .three-dots").click(function () {
                    $(".dropdown-container").blur();
                });
        });

        // Add Subcategory
        $("#add-subcategory-button").click(function () {
            var name = $("#subcategory-name-input").val();
            var categoryName = $.urlParam('categoryName');

            $('#subcategory-name-input').val('');

                $("#subcategories-ul").append(
                    '<li id="' + name + '" class="category-listed category-item subcategory-li" category-name="' + decodeURI(categoryName) + '">' +
                    '<a class="category-listed-link hidden-check-subcategory new-subcategory" last-saved-name="' + name + '" href="/Categories?categoryName=' + categoryName + '&subcategoryName=' + name + '">' + name + '</a>' +
                    '<div class="hidden-div hidden">' +
                        '<p>hidden</p>' +
                    '</div>' +
                    '<div class="kebab-menu">' +
                            '<div class="dropdown-container" tabindex="-1">' +
                                '<div class="three-dots">' +
                                    '<div class="circle"></div>' +
                                    '<div class="circle"></div>' +
                                    '<div class="circle"></div>' +
                                '</div>' +
                            '<div class="dropdown">' +
                                '<div class="three-dots">' +
                                    '<div class="circle" > </div>' +
                                    '<div class="circle" > </div>' +
                                    '<div class="circle" > </div>' +
                                '</div>' +
                                '<div class="dropdown-move-to dropdown-item d-flex align-items-center">' +
                                    '<p class="text-center m-0">Move to</p>' +
                                    '<em class="fa-solid fa-caret-right"></em>' +
                                    '<div class="move-to-list">' +
                                    '</div>' +
                                '</div>' +
                                '<div class="dropdown-item dropdown-hide-subcategory d-flex align-items-center"><p class="text-center m-0">Hide</p></div>' +
                                '<div data-toggle="modal" data-target="#edit-subcategory-modal" class="dropdown-item d-flex align-items-center"><p class="text-center m-0">Edit</p></div>' +
                                '<div id="dropdown-delete" data-toggle="modal" data-target="#delete-subcategory-modal" class="dropdown-item d-flex align-items-center"><p class="text-center m-0">Delete</p></div>' +
                                '<div class="dropdown-item-filler"></div>' +
                            '</div>' +
                       '</div>' +
                    '</div>' +
                    '</li>');

                $(".category-li a").each(function (i, obj) {
                    if (obj.innerHTML !== categoryName) {
                        $("#subcategories-ul").children('[id="' + name + '"]').find('.move-to-list').append(
                            '<div category-name="' + obj.innerHTML + '" class="move-to-list-item d-flex align-items-center" onclick="MoveToSubcategoryClick(event)"><p class="text-center m-0">' + obj.innerHTML + '</p></div>'
                        );
                    }
                });
                

                $('.category-listed a').click(function (event) {
                    event.preventDefault();
                    var url = $(this).attr('href');
                    window.history.replaceState("object or string", "Title", url);
                });

                $('.subcategory-li').click(function () {
                    event.preventDefault();
                    var url = $(this).children(":first").attr('href');
                    window.history.replaceState("object or string", "Title", url);
                    
                    var subcategoryName = decodeURI($.urlParam('subcategoryName'));
                    var subcategorySavedName = $("[id='" + subcategoryName + "'] a").attr('last-saved-name');
                    
                    $(".team-li").css("display", "none");
                    $('[subcategory-name="' + subcategorySavedName + '"]').css("display", "flex");
                    
                    $(".subcategory-li").css("box-shadow", "none");
                    $(this).css("box-shadow", "3px 2px 14px rgba(0, 0, 0, 0.09)");
                    $(".subcategory-li").css("border", "0.5px solid #D4D9E2");
                    $(this).css("border", "none");
                    $(".subcategory-li a").css("color", "#B2B2B2");
                    $(this).children(":first").css("color", "#D72130");
                    $("#button-for-open-teams-modal").css("display", "flex");
                    
                    $(".team-li").css("box-shadow", "none");
                    $(".team-li").css("border", "0.5px solid #D4D9E2");
                    $(".team-li a").css("color", "#B2B2B2");
                    
                    $(".teamForDeletion").parent().css("display", "none");
                    
                    if ($(this).hasClass('for-changing-url')) {
                        var url = $(location).attr('href');
                        var newUrl = url.substr(0, url.indexOf('subcategoryName') - 1);
                        window.history.replaceState("object or string", "Title", newUrl);
                    
                        var categoryNameForUrl = $(this).attr('category-name');
                        var subcategoryNameForUrl = encodeURI($(this).attr('id'));
                        console.log(subcategoryNameForUrl);
                        var newUrlForElement = '/Categories?categoryName=' + categoryNameForUrl + '&subcategoryName=' + subcategoryNameForUrl;
                    
                        $(this).find('.category-listed-link').attr('href', newUrlForElement);
                    
                        $(this).removeClass('for-changing-url');
                    }
                    
                    $(".hiding-after-move-to").css('display', 'none');
                    
                    $(".hiding-after-move-to").removeClass('hiding-after-move-to');
                });

                // Turn on Hide functionality
                $("#" + name + " .dropdown-hide-subcategory").click(function () {
                    event.preventDefault();

                    var currentState = $(this).first().text();

                    if (currentState == 'Hide') {
                        $(this).first().text("Unhide");
                        var parentEl = $(this).parents().eq(3);
                        parentEl.children('.hidden-div').removeClass("hidden");
                    }
                    else {
                        $(this).first().text("Hide");
                        var parentEl = $(this).parents().eq(3);
                        parentEl.children('.hidden-div').addClass("hidden");
                    }

                    if (!parentEl.children('.category-listed-link').hasClass('hidden-check-subcategory')) {
                        parentEl.children('.category-listed-link').addClass('hidden-check-subcategory');
                    }
                });

                $(".dropdown .three-dots").click(function () {
                    $(".dropdown-container").blur();
                });
        });

        // Add Team
        $("#add-team-button").click(function () {
            var name = $("#team-name-input").val();
            var subcategoryName = $.urlParam('subcategoryName');
            var categoryName = $.urlParam('categoryName');

            $('#team-name-input').val('');

            $("#teams-ul").append(
                '<li id="' + name + '" class="category-listed category-item team-li" subcategory-name="' + decodeURI(subcategoryName) + '">' +
                '<a class="category-listed-link hidden-check-team new-team" last-saved-name="' + name + '" href="/Categories?categoryName=' + categoryName + '&subcategoryName=' + subcategoryName + '&teamName=' + name + '">' + name + '</a>' +
                '<div class="hidden-div hidden">' +
                '<p>hidden</p>' +
                '</div>' +
                '<div class="kebab-menu">' +
                '<div class="dropdown-container" tabindex="-1">' +
                '<div class="three-dots">' +
                '<div class="circle"></div>' +
                '<div class="circle"></div>' +
                '<div class="circle"></div>' +
                '</div>' +
                '<div class="dropdown">' +
                '<div class="three-dots">' +
                '<div class="circle" > </div>' +
                '<div class="circle" > </div>' +
                '<div class="circle" > </div>' +
                '</div>' +
                '<div class="dropdown-move-to dropdown-item d-flex align-items-center">' +
                '<p class="text-center m-0">Move to</p>' +
                '<em class="fa-solid fa-caret-right"></em>' +
                '<div class="move-to-list-second">' +
                '</div>' +
                '</div>' +
                '<div class="dropdown-item dropdown-hide-team d-flex align-items-center"><p class="text-center m-0">Hide</p></div>' +
                '<div data-toggle="modal" data-target="#edit-team-modal" class="dropdown-item d-flex align-items-center"><p class="text-center m-0">Edit</p></div>' +
                '<div id="dropdown-delete" data-toggle="modal" data-target="#delete-team-modal" class="dropdown-item d-flex align-items-center"><p class="text-center m-0">Delete</p></div>' +
                '<div class="dropdown-item-filler"></div>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</li>');

            $(".category-li a").each(function (i, obj) {
                //TODO
                var item = $('#subcategories-ul').children('[category-name="' + obj.innerHTML + '"]');
                if (item.hasClass('subcategory-li') === true) {

                    if (obj.innerHTML === decodeURI($.urlParam('categoryName'))) {
                        if (item.length > 1) {
                            $("#teams-ul").children('[id="' + name + '"]').find('.move-to-list-second').append(
                                '<div category-name="' + obj.innerHTML + '" class="move-to-list-item move-to-list-item-parent d-flex align-items-center">' +
                                '<p class="text-center m-0">' + obj.innerHTML + '</p>' +
                                '<em class="fa-solid fa-caret-right"></em>' +
                                '<div class="move-to-list-subcategories">' +
                                '</div>' +
                                '</div>');

                            $('[category-name="' + obj.innerHTML + '"]').each(function (j, objj) {
                                if ($(this).attr('id') !== undefined && $(objj).attr('id') !== decodeURI(subcategoryName)) {
                                    var subcatName = $(objj).attr('id');

                                    $("#teams-ul").children('[id="' + name + '"]').find('[category-name="' + obj.innerHTML + '"]').find('.move-to-list-subcategories').prepend('<div subcategory-name="' + subcatName + '" class="move-to-list-item move-to-list-item-team d-flex align-items-center" onclick="MoveToTeamClick(event)">' +
                                        '<p class="text-center m-0">' + subcatName + '</p>' +
                                        '</div>');
                                }
                            });
                        }
                    }
                    else {
                        $("#teams-ul").children('[id="' + name + '"]').find('.move-to-list-second').append(
                            '<div category-name="' + obj.innerHTML + '" class="move-to-list-item move-to-list-item-parent d-flex align-items-center">' +
                            '<p class="text-center m-0">' + obj.innerHTML + '</p>' +
                            '<em class="fa-solid fa-caret-right"></em>' +
                            '<div class="move-to-list-subcategories">' +
                            '</div>' +
                            '</div>');

                        $('[category-name="' + obj.innerHTML + '"]').each(function (j, objj) {
                            if ($(this).attr('id') !== undefined && $(objj).attr('id') !== decodeURI(subcategoryName)) {
                                var subcatName = $(objj).attr('id');

                                $("#teams-ul").children('[id="' + name + '"]').find('[category-name="' + obj.innerHTML + '"]').find('.move-to-list-subcategories').prepend('<div subcategory-name="' + subcatName + '" class="move-to-list-item move-to-list-item-team d-flex align-items-center" onclick="MoveToTeamClick(event)">' +
                                    '<p class="text-center m-0">' + subcatName + '</p>' +
                                    '</div>');
                            }
                        });
                    }
                }
            });

            $('.category-listed a').click(function (event) {
                event.preventDefault();
                var url = $(this).attr('href');
                window.history.replaceState("object or string", "Title", url);
            });

            $('.team-li').click(function () {
                event.preventDefault();
                var url = $(this).children(":first").attr('href');
                window.history.replaceState("object or string", "Title", url);

                $(".team-li").css("box-shadow", "none");
                $(this).css("box-shadow", "3px 2px 14px rgba(0, 0, 0, 0.09)");
                $(".team-li").css("border", "0.5px solid #D4D9E2");
                $(this).css("border", "none");
                $(".team-li a").css("color", "#B2B2B2");
                $(this).children(":first").css("color", "#D72130");

                if ($(this).hasClass('for-changing-url')) {
                    var url = $(location).attr('href');
                    var newUrl = url.substr(0, url.indexOf('teamName') - 1);
                    window.history.replaceState("object or string", "Title", newUrl);

                    var subcategoryNameForUrl = $(this).attr('subcategory-name');
                    var categoryNameForUrl = $('[id="' + subcategoryNameForUrl + '"]').attr('category-name');
                    var teamNameForUrl = encodeURI($(this).attr('id'));

                    var newUrlForElement = '/Categories?categoryName=' + categoryNameForUrl + '&subcategoryName=' + subcategoryNameForUrl + '&teamName=' + teamNameForUrl;

                    $(this).find('.category-listed-link').attr('href', newUrlForElement);

                    $(this).removeClass('for-changing-url');

                    $(this).css('display', 'none');
                }

                $(".hiding-after-move-to").css('display', 'none');
                $(".hiding-after-move-to").removeClass('hiding-after-move-to');
            });

            // Turn on Hide functionality
            $("#" + name + " .dropdown-hide-team").click(function () {
                event.preventDefault();

                var currentState = $(this).first().text();

                if (currentState == 'Hide') {
                    $(this).first().text("Unhide");
                    var parentEl = $(this).parents().eq(3);
                    parentEl.children('.hidden-div').removeClass("hidden");
                }
                else {
                    $(this).first().text("Hide");
                    var parentEl = $(this).parents().eq(3);
                    parentEl.children('.hidden-div').addClass("hidden");
                }

                if (!parentEl.children('.category-listed-link').hasClass('hidden-check-team')) {
                    parentEl.children('.category-listed-link').addClass('hidden-check-team');
                }
            });

            $(".dropdown .three-dots").click(function () {
                $(".dropdown-container").blur();
            });
        });

        // Move Subcategory
        function MoveToSubcategoryClick(event) {
            var objThis = event.currentTarget;

            var subcategoryItem = $(objThis).parents().eq(5);
            subcategoryItem.children('.category-listed-link').addClass('moved-subcategory');
            var categoryName = $(objThis).attr('category-name');
            var oldCategory = subcategoryItem.attr('category-name');

            $('[subcategory-name="' + subcategoryItem.attr('id') + '"]').addClass('hiding-after-move-to');
            subcategoryItem.addClass('for-changing-url');

            subcategoryItem.attr('category-name', categoryName);

            var subcategories = [];

            $('[category-name="' + oldCategory + '"]').each(function (i, obj) {
                if ($(objThis).attr('id') !== undefined) {
                    subcategories.push($(obj).attr('id'));
                }
            });

            $('[subcategory-name="' + subcategoryItem.attr('id') + '"]').each(function (i, obj) {
                if ($(objThis).attr('id') !== undefined) {
                    $(objThis).find('.move-to-list-second').prepend('<div category-name="' + oldCategory + '" class="move-to-list-item d-flex align-items-center">' +
                         '<p class="text-center m-0">' + oldCategory +'</p>' +
                         '<em class="fa-solid fa-caret-right"></em>' +
                         '<div class="move-to-list-subcategories">' +
                         '</div>' +
                         '</div>');

                    $.each(subcategories, function (j, name) {
                        var team = $(obj).find('.move-to-list-second [category-name="' + oldCategory + '"] .move-to-list-subcategories');
                        console.log(team.attr('class'));
                        team.prepend('<div subcategory-name="' + name + '" class="move-to-list-item d-flex align-items-center">' +
                            '<p class="text-center m-0">' + name + '</p>' +
                            '</div>');
                    });
                }
            });

            subcategoryItem.css('display', 'none');
            $(objThis).parent().prepend('<div category-name="' + oldCategory + '" class="move-to-list-item d-flex align-items-center" onclick="MoveToSubcategoryClick(event)"><p class="text-center m-0">' + oldCategory + '</p></div>');
            $(objThis).remove();
        };

        // Move Team
        function MoveToTeamClick(event) {
            var obj = event.currentTarget;

            var teamItem = $(obj).parents().eq(7);
            teamItem.children('.category-listed-link').addClass('moved-team');
            var subcategoryName = $(obj).attr('subcategory-name');
            var oldSubcategory = teamItem.attr('subcategory-name');
            var oldCategory = $('#subcategories-ul').children('[id="' + oldSubcategory + '"]').attr('category-name');
            var newCategory = $('#subcategories-ul').children('[id="' + subcategoryName + '"]').attr('category-name');

            teamItem.addClass('for-changing-url');
            $('[id="' + teamItem.attr('id') + '"]').addClass('hiding-after-move-to');

            teamItem.attr('subcategory-name', subcategoryName);

            if (oldCategory !== $('#subcategories-ul').children('[id="' + subcategoryName + '"]').attr('category-name')) {
                if ($('#subcategories-ul').children('[category-name="' + newCategory + '"]').length < 2) {
                    $(obj).parent().parent().parent().children('[category-name="' + newCategory + '"]').remove();
                }
            }

            $(obj).parent().parent().parent().prepend('<div category-name="' + oldCategory + '" class="move-to-list-item d-flex align-items-center">' +
                '<p class="text-center m-0">' + oldCategory + '</p>' +
                '<em class="fa-solid fa-caret-right"></em>' +
                '<div class="move-to-list-subcategories">' +
                '</div>' +
                '</div>');

            var parentEl = $('.move-to-list-second').children('[category-name="' + oldCategory + '"]').children('.move-to-list-subcategories');
            var parentEl2 = $('.move-to-list-second').children('[category-name="' + newCategory + '"]').children('.move-to-list-subcategories');
            $(parentEl2).children('[subcategory-name="' + subcategoryName + '"]').remove();
            $(parentEl).prepend('<div subcategory-name="' + oldSubcategory + '" class="move-to-list-item move-to-list-item-team d-flex align-items-center" onclick="MoveToTeamClick(event)"><p class="text-center m-0">' + oldSubcategory + '</p></div>')
        };

        // Hide/Unhide Category
        $(".dropdown-hide-category").click(function () {
            event.preventDefault();

            var currentState = $(this).first().text();
            
            if (currentState == 'Hide') {
                $(this).first().text("Unhide");
                var parentEl = $(this).parents().eq(3);
                parentEl.children('.hidden-div').removeClass("hidden");
            }
            else {
                $(this).first().text("Hide");
                var parentEl = $(this).parents().eq(3);
                parentEl.children('.hidden-div').addClass("hidden");
            }

            if (!parentEl.children('.category-listed-link').hasClass('hidden-check-category')) {
                parentEl.children('.category-listed-link').addClass('hidden-check-category');
            }
        });

        // Hide/Unhide Subcategory
        $(".dropdown-hide-subcategory").click(function () {
            event.preventDefault();

            var currentState = $(this).first().text();

            if (currentState == 'Hide') {
                $(this).first().text("Unhide");
                var parentEl = $(this).parents().eq(3);
                parentEl.children('.hidden-div').removeClass("hidden");
            }
            else {
                $(this).first().text("Hide");
                var parentEl = $(this).parents().eq(3);
                parentEl.children('.hidden-div').addClass("hidden");
            }

            if (!parentEl.children('.category-listed-link').hasClass('hidden-check-subcategory')) {
                parentEl.children('.category-listed-link').addClass('hidden-check-subcategory');
            }
        });

        // Hide/Unhide Team
        $(".dropdown-hide-team").click(function () {
            event.preventDefault();

            var currentState = $(this).first().text();

            if (currentState == 'Hide') {
                $(this).first().text("Unhide");
                var parentEl = $(this).parents().eq(3);
                parentEl.children('.hidden-div').removeClass("hidden");
            }
            else {
                $(this).first().text("Hide");
                var parentEl = $(this).parents().eq(3);
                parentEl.children('.hidden-div').addClass("hidden");
            }

            if (!parentEl.children('.category-listed-link').hasClass('hidden-check-team')) {
                parentEl.children('.category-listed-link').addClass('hidden-check-team');
            }
        });

        // Edit Category
        $("#edit-category-button").click(function () {
            var currName = decodeURI($.urlParam('categoryName'));
            var newName = decodeURI($("#category-edit-name-input").val());

            $('#category-edit-name-input').val('');

            $("[id='" + currName + "'] a").text(newName);
            $("[id='" + currName + "'] a").attr('href', '/Categories?categoryName=' + newName);
            $("[id='" + currName + "'] a").addClass('edited-category');
            $("[id='" + currName + "']").attr("id", newName);

            window.history.replaceState("object or string", "Title", $("[id='" + newName + "'] a").attr("href"));
        });

        // Edit Subcategory
        $("#edit-subcategory-button").click(function () {
            var currName = decodeURI($.urlParam('subcategoryName'));
            var newName = decodeURI($("#subcategory-edit-name-input").val());
            var categoryName = decodeURI($.urlParam('categoryName'));

            $('#subcategory-edit-name-input').val('');

            $("[id='" + currName + "'] a").text(newName);
            $("[id='" + currName + "'] a").attr('href', '/Categories?categoryName=' + categoryName + '&subcategoryName=' + newName + '');
            $("[id='" + currName + "'] a").addClass('edited-subcategory');
            $("[id='" + currName + "']").attr("id", newName);

            window.history.replaceState("object or string", "Title", $("[id='" + newName + "'] a").attr("href"));
        });

        // Edit Team
        $("#edit-team-button").click(function () {
            var currName = decodeURI($.urlParam('teamName'));
            var newName = decodeURI($("#team-edit-name-input").val());
            var subcategoryName = decodeURI($.urlParam('subcategoryName'));
            var categoryName = decodeURI($.urlParam('categoryName'));

            $('#team-edit-name-input').val('');

            $("[id='" + currName + "'] a").text(newName);
            $("[id='" + currName + "'] a").attr('href', '/Categories?categoryName=' + categoryName + '&subcategoryName=' + subcategoryName + '&teamName=' + newName + '');
            $("[id='" + currName + "'] a").addClass('edited-team');
            $("[id='" + currName + "']").attr("id", newName);

            window.history.replaceState("object or string", "Title", $("[id='" + newName + "'] a").attr("href"));
        });
        
        // Delete Category
        $("#delete-category-button").click(function () {
            var name = $.urlParam('categoryName');
            var updatedName = decodeURI(name);
            var url = $(location).attr('href');
            var newUrl = url.substr(0, url.indexOf('?'));
            window.history.replaceState("object or string", "Title", newUrl);

            $("[id='" + name + "']").css("display", "none");
            $('[category-name="' + name + '"]').css("display", "none");
            $("[id='" + name + "'] a").addClass("categoryForDeletion");
            $("[id='" + name + "'] a").removeClass("new-category");
            $("#button-for-open-subcategories-modal").css("display", "none");
            $('.move-to-list').children('[category-name="' + name + '"]').remove();
        });

        // Delete Subcategory
        $("#delete-subcategory-button").click(function () {
            var name = $.urlParam('subcategoryName');
            var updatedName = decodeURI(name);
            var url = $(location).attr('href');
            var newUrl = url.substr(0, url.indexOf('&'));
            window.history.replaceState("object or string", "Title", newUrl);

            $("[id='" + name + "']").css("display", "none");
            $('[subcategory-name="' + name + '"]').css("display", "none");
            $("[id='" + name + "'] a").addClass("subcategoryForDeletion");
            $("[id='" + name + "'] a").removeClass("new-subcategory");
            $("#button-for-open-teams-modal").css("display", "none");
            $('.move-to-list-subcategories').children('[subcategory-name="' + name + '"]').remove();
        });

        // Delete Team
        $("#delete-team-button").click(function () {
            var name = $.urlParam('teamName');
            var updatedName = decodeURI(name);
            var url = $(location).attr('href');
            var newUrl = url.substr(0, url.indexOf('teamName') - 1);
            window.history.replaceState("object or string", "Title", newUrl);
            
            $("[id='" + name + "']").css("display", "none");
            $("[id='" + name + "'] a").addClass("teamForDeletion");
            $("[id='" + name + "'] a").removeClass("new-team");
        });

        // Save all changes
        $("#button-save").click(function () {
            console.log("Saving...");

            // Add
            var newCategories = $(".new-category").map(function () {
                return this.innerHTML;
            }).get();

            $.ajax({
                type: 'POST',
                url: '/api/categories/addCategories',
                data: JSON.stringify(newCategories),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            var newSubcategories = [];

            $('.new-subcategory').each(function (i, obj) {
                newSubcategories.push([$(this).parent().attr("category-name"), obj.innerHTML]);
            });

            $.ajax({
                type: 'POST',
                url: '/api/categories/addSubcategories',
                data: JSON.stringify(newSubcategories),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            var newTeams = [];

            $('.new-team').each(function (i, obj) {
                newTeams.push([$(this).parent().attr("subcategory-name"), obj.innerHTML]);
            });

            //$.ajax({
            //    type: 'POST',
            //    url: '/api/categories/addTeams',
            //    data: JSON.stringify(newTeams),
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json"
            //});

            $(".new-category").removeClass("new-category");
            $(".new-subcategory").removeClass("new-subcategory");
            $(".new-team").removeClass("new-team");

            // Hide
            var hiddenCheckCategories = [];
            var hiddenCheckSubcategories = [];
            var hiddenCheckTeams = [];

            $(".hidden-check-team").each(function (i, obj) {
                var isHidden = false;
                if ($(this).parent().children('.hidden-div').hasClass('hidden')) {
                    isHidden = false;
                }
                else {
                    isHidden = true;
                }
                hiddenCheckTeams.push([$(this).attr("last-saved-name"), isHidden]);
            });

            $.ajax({
                type: 'POST',
                url: '/api/categories/hideTeams',
                data: JSON.stringify(hiddenCheckTeams),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            $(".hidden-check-subcategory").each(function (i, obj) {
                var isHidden = false;
                if ($(this).parent().children('.hidden-div').hasClass('hidden')) {
                    isHidden = false;
                }
                else {
                    isHidden = true;
                }
                hiddenCheckSubcategories.push([$(this).attr("last-saved-name"), isHidden]);
            });

            $.ajax({
                type: 'POST',
                url: '/api/categories/hideSubcategories',
                data: JSON.stringify(hiddenCheckSubcategories),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            $(".hidden-check-category").each(function (i, obj) {
                var isHidden = false;
                if ($(this).parent().children('.hidden-div').hasClass('hidden')) {
                    isHidden = false;
                }
                else {
                    isHidden = true;
                }
                hiddenCheckCategories.push([$(this).attr("last-saved-name"), isHidden]);
            });

            $.ajax({
                type: 'POST',
                url: '/api/categories/hideCategories',
                data: JSON.stringify(hiddenCheckCategories),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            $(".hidden-check-category").removeClass('hidden-check-category');
            $(".hidden-check-subcategory").removeClass('hidden-check-subcategory');
            $(".hidden-check-team").removeClass('hidden-check-team');

            // Edit
            var editedCategories = [];

            $(".edited-category").each(function (i, obj) {
                editedCategories.push([$(this).attr("last-saved-name"), obj.innerHTML]);
                $('[category-name="' + $(this).attr("last-saved-name") + '"]').attr('category-name', this.innerHTML);
                $(this).attr('last-saved-name', this.innerHTML);
            });

            $.ajax({
                type: 'POST',
                url: '/api/categories/editCategories',
                data: JSON.stringify(editedCategories),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            var editedSubcategories = [];

            $(".edited-subcategory").each(function (i, obj) {
                editedSubcategories.push([$(this).attr("last-saved-name"), obj.innerHTML]);
                $('[subcategory-name="' + $(this).attr("last-saved-name") + '"]').attr('subcategory-name', this.innerHTML);
                $(this).attr('last-saved-name', this.innerHTML);
            });

            $.ajax({
                type: 'POST',
                url: '/api/categories/editSubcategories',
                data: JSON.stringify(editedSubcategories),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            var editedTeams = [];

            $(".edited-team").each(function (i, obj) {
                editedTeams.push([$(this).attr("last-saved-name"), obj.innerHTML]);
                $(this).attr('last-saved-name', this.innerHTML);
            });

            $.ajax({
                type: 'POST',
                url: '/api/categories/editTeams',
                data: JSON.stringify(editedTeams),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            $(".edited-category").removeClass("edited-category");
            $(".edited-subcategory").removeClass("edited-subcategory");
            $(".edited-team").removeClass("edited-team");

            // Move
            var movedSubcategories = [];

            $(".moved-subcategory").each(function (i, obj) {
                movedSubcategories.push([$(this).parent().attr("category-name"), obj.innerHTML]);
            });

            var bigObjSubcategories = [];
            bigObjSubcategories.push(movedSubcategories);
            bigObjSubcategories.push(newSubcategories);

            $.ajax({
                type: 'POST',
                url: '/api/categories/moveSubcategories',
                data: JSON.stringify(bigObjSubcategories),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            var movedTeams = [];

            $(".moved-team").each(function (i, obj) {
                movedTeams.push([$(this).parent().attr("subcategory-name"), obj.innerHTML]);
            });

            var bigObjTeams = [];
            bigObjTeams.push(movedTeams);
            bigObjTeams.push(newTeams);

            $.ajax({
                type: 'POST',
                url: '/api/categories/moveTeams',
                data: JSON.stringify(bigObjTeams),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            $(".moved-subcategory").removeClass("moved-subcategory");
            $(".moved-team").removeClass("moved-team");

            // Delete
            var deletedCategories = $(".categoryForDeletion").map(function () {
                return $(this).attr('last-saved-name');
            }).get();

            $.ajax({
                type: 'POST',
                url: '/api/categories/deleteCategories',
                data: JSON.stringify(deletedCategories),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            var deletedSubcategories = $(".subcategoryForDeletion").map(function () {
                return $(this).attr('last-saved-name');
            }).get();

            $.ajax({
                type: 'POST',
                url: '/api/categories/deleteSubcategories',
                data: JSON.stringify(deletedSubcategories),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            var deletedTeams = $(".teamForDeletion").map(function () {
                return $(this).attr('last-saved-name');
            }).get();

            $.ajax({
                type: 'POST',
                url: '/api/categories/deleteTeams',
                data: JSON.stringify(deletedTeams),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            // Save Modal Pops
            $(".save-modal").addClass("d-flex");
            $(".save-modal").removeClass("d-none");

            // Reload Categories Header
            $(".categories-header-partial").load("/Categories/CategoriesListedPartial");

            $("#arrow-button-previous").removeAttr("href");
            $("#arrow-button-previous").attr("role", "link");
            $("#arrow-button-previous").attr("aria-disabled", "true");

            $("#arrow-button-previous").hover(function () {
                $(this).css("color", "#C4C4C4");
            });

            $("#arrow-button-previous").prop("onclick", null).off("click");

            if (@Model.Categories.Count() > 11) {
                $("#arrow-button-next").css("color", "#C63638");
            }
            else {
                $("#arrow-button-next").removeAttr("href");
                $("#arrow-button-next").attr("role", "link");
                $("#arrow-button-next").attr("aria-disabled", "true");

                $("#arrow-button-next").hover(function () {
                    $(this).css("color", "#C4C4C4");
                });

                $("#arrow-button-next").prop("onclick", null).off("click");
            }

            console.log("Saved!");
        });
    </script>

</body>
</html>
