﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/articles/bootstrap5/css/bootstrap.css">
    <link rel="stylesheet" href="~/articles/font-awesome-4.7.0/css/font-awesome.min.css">

    <link href="~/css/homePageLayout.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/informationArchitecture.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/articles/bootstrap5/css/articleEdit.min.css">
    <link rel="stylesheet" href="~/articles/bootstrap5/css/articleView.min.css">


    <!-- Google Fonts -->
    <script src="https://kit.fontawesome.com/eeab3bceea.js" crossorigin="anonymous" asp-append-version="true"></script>

    <!-- Font Awesome Fonts -->
    <script src="https://kit.fontawesome.com/6df1037d80.js" crossorigin="anonymous"></script>

    <!-- Tiny cloud text editor -->
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>


    <script>
        tinymce.init({
            forced_root_block: "p",
            selector: 'textarea#editor',
            skin: 'bootstrap',
            plugins: 'lists, link, image, media',
            toolbar: 'h1 h2 P bold italic underline | alignleft aligncenter alignright alignjustify  | link image media ',
            menubar: false
        });
    </script>

</head>
<body>


    <partial name="_HeaderPartial" />
    <div id="title-container"></div>
    <div class="container-fluid under-header">
        <div class="row">
            <partial name="_NavigationPartial" />
            <main role="main" class="pb-3 col content">
                @this.RenderBody()
            </main>
        </div>
    </div>

    <partial name="_FooterPartial" />




    @*for image preview*@
    <script>
        const inpFile = document.getElementById("inpFile");
        const previewContainer = document.getElementById("imagePreview");
        const previewImage = previewContainer.querySelector(".image-preview__image");
        const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");

        inpFile.addEventListener("change", function () {
            const file = this.files[0];

            if (file) {
                const reader = new FileReader()
                previewDefaultText.style.display = "none";
                previewImage.style.display = "block";

                reader.addEventListener("load", function () {
                    console.log(this);
                    previewImage.setAttribute("src", this.result);
                    Article.PictureUrl = this.result; /* set picture url to article*/
                });
                reader.readAsDataURL(file);
            }
            else {
                previewDefaultText.style.display = null; /* use css default values */
                previewImage.style.display = null;
            }
        });

    </script>

    <script>
        const inpFile = document.getElementById("inpFile");
        const previewContainer = document.getElementById("imagePreview");
        const previewImage = previewContainer.querySelector(".image-preview__image");
        const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");

        inpFile.addEventListener("change", function () {
            const file = this.files[0];

            if (file) {
                const reader = new FileReader();
                previewDefaultText.style.display = "none";
                previewImage.style.display = "block";

                reader.addEventListener("load", function () {
                    console.log(this);
                    previewImage.setAttribute("src", this.result);

                });
                reader.readAsDataURL(file);
            }
        });
    </script>


    <script src="~/articles/bootstrap5/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
            integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA=="
            crossorigin="anonymous"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
