﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<footer class="container-fluid">
    <div class="footer-info row">
        <div class="col-3 footer-info-first-child">
            <h3>@Localizer["Company Info"]</h3>
            <ul>
                <li>
                    <a href="#">@Localizer["About Sports Hub"]</a>
                </li>
                <li>
                    <a href="#">@Localizer["News / In the Press"]</a>
                </li>
                <li>
                    <a href="#">@Localizer["Advertising / Sports Blogger Ad Network"]</a>
                </li>
                <li>
                    <a href="#">@Localizer["Events"]</a>
                </li>
                <li>
                    <a href="#">@Localizer["Contact Us"]</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <h3>@Localizer["Contributors"]</h3>
            <ul>
                <li>
                    <a href="#">@Localizer["Featured Writers Program"]</a>
                </li>
                <li>
                    <a href="#">@Localizer["Featured Team Writers Program"]</a>
                </li>
                <li>
                    <a href="#">@Localizer["Internship Program"]</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <h3>@Localizer["Newsletter"]</h3>
            <ul>
                <li>
                    <p>@Localizer["Sign up to receive the latest sports news"]</p>
                    <form action="" class="newsletter-form">
                        <input type="email" class="email-input" placeholder="@Localizer["Your email address"]">
                        <button class="red-button-filled">@Localizer["Subscribe"]</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="col w-7"></div>
    </div>
    <div class="footer-copyright row">
        <div class="logo w-18 col-3">
            <h2 class="h2-layout">Sports Hub</h2>
        </div>
        <div class="copyright-and-terms col">
            <ul>
                <li>
                    <p>Copyright ©2019 Sports Hub</p>
                </li>
                <li>
                    <a href="#">@Localizer["Privacy / Terms"]</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
