﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<header class="container-fluid text-center">
    <div class="row h-100">
        <div class="col logo w-18">
            <h2>Sports Hub</h2>
        </div>
        <div class="col search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <form asp-page="/Search" method="post" defaultButton="SubmitButton" class="search-form">
                <input name="SearchString" type="text" class="search-form-input" 
                       placeholder="@Localizer["Search by"]" 
                       value=@ViewData["SearchString"]
                       required>
            </form>
        </div>
        <div class="col share">
            <p class="share-text">@Localizer["Share"]</p>
            <ul class="container share-icons link-icons">
                <li>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                </li>
            </ul>
        </div>
        <div class="col authentication">
            <ul class="auth-items">
                <partial name="_LoginPartial" />
                <partial name="_SelectLanguagePartial" />
            </ul>
        </div>
    </div>
</header>
