﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" asp-append-version="true" />
    <link href="~/css/homePageLayout.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/informationArchitecture.css" rel="stylesheet" asp-append-version="true" />

    <!-- Google Fonts -->
    <script src="https://kit.fontawesome.com/eeab3bceea.js" crossorigin="anonymous" asp-append-version="true"></script>

    <title>@this.ViewData["Title"]</title>
</head>
<body>
    <partial name="_HeaderPartial" />
    <div id="title-container"></div>
    <div class="container-fluid under-header">
        <div class="row">
            <partial name="_NavigationPartial" />
            <main role="main" class="pb-3 col content">
              @this.RenderBody()
            </main>
        </div>
    </div>

    <partial name="_FooterPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
