﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using DAL.EF;
@using Common;

@inject SignInManager<SportsHubUser> SignInManager
@inject UserManager<SportsHubUser> UserManager
@inject IViewLocalizer Localizer
 
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/login-create-account.css" />
<link rel="stylesheet" href="~/css/homePageLayout.css" />
<link rel="stylesheet" href="~/css/login-partial.css" />
<script src="https://kit.fontawesome.com/eeab3bceea.js" crossorigin="anonymous" asp-append-version="true"></script>
 
@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <img src="~/uploads/profilePictures/@user.ProfilePicturePath" class="rounded-circle" height="40px" width="40px" asp-append-version="true" />
    </li>
    <li class="nav-item mr-4">
        <div class="dropdown">
            <div class="col">
                <button class="dropdown-toggle no-fill font-standart shadow-none pl-0" style="color: #000000" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @user.FirstName @user.LastName
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="my-2 mx-4">
                        <div class="row align-items-center d-flex align-items-center justify-content-center text-left">
                            <span class="col-sm-12 font-standart">@user.FirstName @user.LastName</span>
                            <span class="col-sm-12 font-standart" style="color: #7F7B7B">@user.Email</span>
                            <a class="btn button-general red-button-filled col-sm-10 shadow-none rounded-0 mt-2 text-uppercase" style="color: #FFFFFF" asp-area="" asp-page="/Account/PersonalInfo">@Localizer["View profile"]</a>
                            <a class="dropdown-item bg-active-light-red line-height-35 font-standart mt-2" href="/Account/PersonalInfo?tab=changePassword">@Localizer["Change password"]</a>
                            <a class="dropdown-item bg-active-light-red line-height-35 font-standart mt-2" href="/Account/Logout">@Localizer["Logout"]</a>
                        </div>
                    </div>
                </div>
                @if (User.IsInRole(GlobalConstants.ADMINISTRATOR_ROLE_NAME))
                {
                    <span class="row text-muted text-right pl-3" style="font-size: 12px">@Localizer["Admin"]</span>
                }
            </div>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn button-default button-red button-borderless shadow-none rounded-0 no-fill" asp-area="" asp-page="/Account/Register">@Localizer["Sign up"]</a>
    </li>
    <li class="nav-item">
        <a class="btn button-red button-white button-white-auth-section shadow-none rounded-0" asp-area="" asp-page="/Account/Login">@Localizer["Log in"]</a>
    </li>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}