﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<nav class="col nav w-18">
    <div>
        <ul class="nav-sections-list">
            <li class="nav-item">
                <a asp-area="" asp-page="Articles/Articles">@Localizer["Articles"]</a>
            </li>

            <li>
                <a href="#">@Localizer["Home"]</a>
            </li>
            <li>
                <a href="#">NBA</a>
            </li>
            <li>
                <a href="#">NFL</a>
            </li>
            <li>
                <a href="#">MLB</a>
            </li>
            <li>
                <a href="#">NHL</a>
            </li>
            <li>
                <a href="#">CBB</a>
            </li>
            <li>
                <a href="#">CFB</a>
            </li>
            <li>
                <a href="#">NASCAR</a>
            </li>
            <li>
                <a href="#">@Localizer["Golf"]</a>
            </li>
            <li>
                <a href="#">@Localizer["Soccer"]</a>
            </li>
            <li>
                <a href="#">@Localizer["Team Hub"]</a>
            </li>
            <li>
                <a href="#">@Localizer["Lifestyle"]</a>
            </li>
            <li>
                <a href="#">@Localizer["Dealbook"]</a>
            </li>
            <li>
                <a href="/Videos/Video">@Localizer["Video"]</a>
            </li>
        </ul>
    </div>
    <div class="nav-icons row">
        <p class="nav-follow">@Localizer["Follow"]</p>
        <ul class="container nav-icons-list">
            <div class="row upper-icons link-icons">
            <li class="col">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li class="col">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
    </div>
    <div class="row link-icons">
        <li class="col google-icon">
            <a href="#"><i class="fa-brands fa-google"></i></a>
        </li>
        <li class="col">
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </li>
    </div>
    </ul>
    </div>
</nav>
