﻿@using System.Threading.Tasks
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

<script src="/lib/jquery/dist/jquery.js"></script>

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.Name.ToUpper() })
        .ToList();
}

<li>
    <!-- TODO: 180 degrees arrow and option items beautified -->
    <form id="selectLanguageForm" asp-controller="Languages" asp-action="SetLanguage" method="post">
        <select name="culture" id="selectLanguage" class="form-select font-standart shadow-none border-0" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"
            onchange="document.getElementById('selectLanguageForm').submit();">
        </select>
    </form>
</li>

<script>
    $(function () {
        $("#selectLanguage > option").addClass("bg-active-light-red font-standart");
    })
</script>