﻿@using web_app.Pages.Video
@model VideoPageModel 

<span asp-validation-for="Input.VideoURL" class="text-danger"></span>
<div class="list-container d-flex flex-wrap align-content-start h-100">
    <div class="w-100">
        <form asp-page="./Video" method="get">
            <div class="d-inline-flex justify-content-end w-100 mb-3 p-3">
                <div id="searchIcon" onclick="showSearchBar()">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                width="20" height="20"
                viewBox="0 0 30 30"
                style=" fill:#7F8899;"><path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path></svg>
                </div>
            
                    <div id="searchBar">
                        <div class="form-actions no-color">
                            <label for="submitSearch" onclick="hideSearchBar()">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            width="20" height="20"
                            viewBox="0 0 30 30"
                            style=" fill:#7F8899;"><path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path></svg>
                            </label>
                            <input id="search" type="text" name="searchString" placeholder="Search..." onfocusout="hideSearchBar(2000)"  asp-for=Filters.Name />
                            <input id="submitSearch" type="submit" hidden/> 
                        </div>
                    </div>
            </div>
            <div class="d-inline-flex justify-content-between w-100 mb-3 p-3">
                <div class="dropdown-filter w-18">
                    <select class="btn dropdown-toggle w-100" onchange="this.form.submit()" name="publishedFilter" asp-for="Filters.Published" asp-items="Html.GetEnumSelectList<Video.VideoPageModel.PublishedSelector>()">
                    </select>
                
                </div>
                <div class="form-check form-switch align-items-center w-18">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Allow to share videos:</label>
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
        </form>
    </div>
    <div class="video-list w-100 p-3">
        <form method="post">
        @foreach (var item in Model.Videos)
        {
            <div class="video-info d-inline-flex justify-content-between w-100 h-auto">
                <div class="video-thumbnail">
                    @if (@item.IsLink)
                    {
                        <img class="thumbnail" src="https://img.youtube.com/vi/@item.URL/hqdefault.jpg"/>
                    }
                    else
                    {
                        <img class="thumbnail" src="/images/DefaultVideoPicture.jpeg"/>
                    }
                </div>
                <div class="video-details w-100">
                    <h2 class="video-title">@item.Title</h2>
                    <br>
                    @if (@item.isPublished)
                    {
                        <div class="d-inline-flex align-items-center"><div class="green-dot rounded-circle"></div>   Published</div>
                    }
                    else
                    {
                        <div class="d-inline-flex align-items-center"><div class="red-dot rounded-circle"></div>    Not Published</div>
                    }
                </div>
                <div class="dropdown">
                    <button class="detail-button" type="button" id="deleteDropdown" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        ...
                    </button>
                    <div class="dropdown-menu" aria-labelledby="deleteDropdown">
                        @if (@item.isPublished)
                        {
                            <button class="btn-secondary border-0 dropdown-item" type="submit" asp-page-handler="Publish" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to unpublish?')" >Unpublish</button>
                        }
                        else
                        {
                            <button class="btn-secondary border-0 dropdown-item" type="submit" asp-page-handler="Publish" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to publish?')" >Publish</button>
                        }
                        <a class="btn-secondary border-0 dropdown-item" asp-page="VideoEdit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn-secondary border-0 dropdown-item" asp-page="VideoDetails" asp-route-id="@item.Id">Details</a>
                        <button class="btn-secondary border-0 dropdown-item" type="submit" asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" >Delete</button>
                    </div>
                </div>
            </div>
        }
        </form>
    </div>
</div>
<form enctype="multipart/form-data" method="post">
    <div id="videoModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog mt-5" role="document">
            <div class="modal-content">
                <div class="modal-header mx-auto">
                    <h5 class="modal-title">Add new video</h5>
                </div>
                <div class="modal-body">
                    <div class="mb-4 w-100">
                        <label asp-for="Input.VideoURL" class="form-label">ADD LINK</label>
                        <input asp-for="Input.VideoURL" class="form-control-plaintext" id="firstName" placeholder="Add new link">
                        <span asp-validation-for="Input.VideoURL" class="text-danger"></span>
                    </div>
                    <div class="mb-4 w-100">
                        <label asp-for="Input.VideoFile" class="form-label w-100">UPLOAD</label>
                        <input asp-for="Input.VideoFile" class="form-control" id="formFile" type="file" hidden accept="video/*" >
                        <label for="formFile" class="d-flex rounded-0 flex-row">
                            <span id="file-chosen" class="form-control-plaintext">Upload new video</span>
                            <div class="btn btn-primary">UPLOAD</div>
                        </label>
                    </div>  
                    <div class="modal-footer w-100">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" asp-page-handler="" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
const fileChosen = document.getElementById('file-chosen');
const actualBtn = document.getElementById('formFile');
actualBtn?.addEventListener('change', function(){
    fileChosen.textContent = this.files[0].name
})
function sleep (time) {
    return new Promise((resolve) => setTimeout(resolve, time));
}
function showSearchBar() {
    document.getElementById("searchIcon").style.display = "none";
    document.getElementById("searchBar").style.display = "block";
    document.getElementById("search").focus();
}
function hideSearchBar(time) {
    sleep(time).then(() => { 
        document.getElementById("searchIcon").style.display = "block";
        document.getElementById("searchBar").style.display = "none";
    }
    )

}
</script>