﻿@using DAL.Models
@model IEnumerable<VideoModel>

<div class="user-videos-container">
    <label class="heading-start">Video></label><label class="heading">@Model.First().Title</label>
    <a  asp-page="VideoDetails" asp-route-id="@Model.First().Id"> 
        <div class="video-list-item top-video">
        @if (@Model.First().IsLink)
        {
            <iframe class="main-thumbnail" src="https://www.youtube.com/embed/@Model.First().URL?controls=0&muted=0"></iframe>
            <label class="btn btn-primary top-right-iframe">More</label>
            <div class="overlay"></div>
        }
        else
        {
            <video class="main-thumbnail" controls muted> <source src="~/uploads/videos/@Model.First().URL"> </video>
            <label class="btn btn-primary top-right-video">More</label>
            <h2 class="top-title">@Model.First().Title</h2>
        }   
        </div>
    </a> 

    <div class="user-video-list">
    @foreach (var item in Model.Skip(1))
    {
        <a asp-page="VideoDetails" asp-route-id="@item.Id"> 
            <div class="video-list-item">
                @if (@item.IsLink)
                {
                    <img class="user-thumbnail" src="https://img.youtube.com/vi/@item.URL/hqdefault.jpg"/>
                }
                else
                {
                    <img class="user-thumbnail" src="/images/DefaultVideoPicture.jpeg"/>
                }
                <label class="user-title">@item.Title</label>
            </div>
        </a>
    }
    </div>

    <partial name="_VideoListPartial" model="@Model" />
</div> 