﻿@using DAL.Models
@model IEnumerable<VideoModel>
@{
    var byView = Model.OrderByDescending(x => x.Views).Take(4).ToList();
    var byComments = Model.OrderByDescending(x => x.Coments.Count).Take(4).ToList();
}
<div class="video-partial">
    <div class="video-partial-list">
        <h3>Most Liked</h3>
    @foreach (var item in byView)
    {
            <a class="partial-list-item" asp-page="VideoDetails" asp-route-id="@item.Id"> 
                @if (@item.IsLink)
                {
                    <img class="list-thumbnail" src="https://img.youtube.com/vi/@item.URL/hqdefault.jpg"/>
                }
                else
                {
                    <img class="list-thumbnail" src="/images/DefaultVideoPicture.jpeg"/>
                }
                <p class="list-title">@item.Title</p>
            </a>
    }
    </div>
    <div class="video-partial-list">
        <h3>Most Commented</h3>
    @foreach (var item in byComments)
    {
            <a class="partial-list-item" asp-page="VideoDetails" asp-route-id="@item.Id"> 
                @if (@item.IsLink)
                {
                    <img class="list-thumbnail" src="https://img.youtube.com/vi/@item.URL/hqdefault.jpg"/>
                }
                else
                {
                    <img class="list-thumbnail" src="/images/DefaultVideoPicture.jpeg"/>
                }
                <p class="list-title">@item.Title</p>
            </a>
    }
    </div>
</div>