﻿@page
@using DAL.EF
@using Microsoft.AspNetCore.Identity
@using System.Globalization
@model web_app.Pages.Videos.VideoDetailsModel
@inject UserManager<SportsHubUser> UserManager 
@{
    SportsHubUser user = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Video";
}
<link rel="stylesheet" href="~/css//video.css" asp-append-version="true" />

<div class="details-container">
    <label class="heading-start">Video></label><label class="heading">@Model.VideoModel.Title</label>
    <div>
        @if (@Model.VideoModel.IsLink)
        {
            <iframe id="video-preview" allow="autoplay" src="https://www.youtube.com/embed/@Model.VideoModel.URL?autoplay=1&muted=1"></iframe>
        }
        else
        {
            <video id="video-preview" controls autoplay> <source src="~/uploads/videos/@Model.VideoModel.URL"> </video>
        }   
    </div>
    <h2 class="video-title">@Model.VideoModel.Title</h2>
    <label class="video-data">Views:@Model.VideoModel.Views | @Model.VideoModel.PublishDate.ToString("MMMM dd",new CultureInfo("en-us")) / @Model.VideoModel.PublishDate.ToString("yy",new CultureInfo("en-us"))</label>
    @if(Model.VideoModel.Comments)
    {
    <div class="comments-container">    
        <label>Comments (@Model.VideoModel.Coments.Count)</label>
        <form method="post" asp-route-id="@Model.VideoModel.Id">
            <div class="new-comment">
                <img class="profile-picture" src="~/uploads/profilePictures/@user.ProfilePicturePath"> 
                <textarea asp-for="@Model.Comment" class="form-control-plaintext" id="Comment" placeholder="Write a comment..."></textarea>
                <span asp-validation-for="@Model.Comment" class="text-danger"></span>
                <button type="submit">Submit</button>
            </div>
        </form>
        <form method="post">
    

        @foreach (var item in @Model.VideoModel.Coments)
       {
           <div class="comment">
               <div class="comment-uploader">
                   <div class="d-flex flex-row align-items-center">
                       <img class="profile-picture" src="~/uploads/profilePictures/@item.Uploader.ProfilePicturePath">    
                       <h3>@item.Uploader.FirstName @item.Uploader.LastName</h3> 

                   </div>
                   <label class="comment-content">@item.Details</label>
                   @if (@item.Uploader.Id==user.Id || User.IsInRole("Admin"))
                    {
                        <div class="align-self-end">
                            <button class="btn-secondary border-0" type="submit" asp-page-handler="Delete" asp-route-commentId="@item.Id" asp-route-id="@Model.VideoModel.Id" onclick="return confirm('Are you sure you want to delete?')" >Delete</button>
                        </div>
                    }
               </div>
           </div>
       }
       </form>

    </div>
    }
    <div class="more-videos">
        <div class="more-line"></div>
        <a class="more-btn" href="Video">More Videos</a>
        <div class="more-line"></div>
    </div>
    <div>
        <partial name="_VideoListPartial" model="@Model.Videos">
    </div>
</div>
<script>
</script>