﻿@page "{id:int}"
@model web_app.Pages.Video.VideoEditModel
@{
    ViewData["Title"] = "Video";
    Layout = "_VideoLayout.cshtml";
}
<link rel="stylesheet" href="~/css//video.css" asp-append-version="true" />
<div class="preview-container">
    <form enctype="multipart/form-data" method="post" asp-page-handler="Save">
        <button id="submit-video" type="submit" hidden></button>
        <div class="video-preview" >
                @if(Model.CurrentVideo.IsLink){
                    <iframe id="video-preview"  src="https://www.youtube.com/embed/@Model.CurrentVideo.URL?rel=0&amp;autoplay=1&mute=1"></iframe>
                }
                else
                {
                    <video autoplay muted id="video-preview"> <source src="~/uploads/videos/@Model.CurrentVideo.URL"> </video>
                }
                <div id="video-overlay" >
                    <div class="upper-right control rounded-circle">
                        <a class="control-text" href="Video">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 30 30" style=" fill:#FFFFFF;">
                                <path d="M 13 3 A 1.0001 1.0001 0 0 0 11.986328 4 L 6 4 A 1.0001 1.0001 0 1 0 6 6 L 24 6 A 1.0001 1.0001 0 1 0 24 4 L 18.013672 4 A 1.0001 1.0001 0 0 0 17 3 L 13 3 z M 6 8 L 6 24 C 6 25.105 6.895 26 8 26 L 22 26 C 23.105 26 24 25.105 24 24 L 24 8 L 6 8 z"></path>
                            </svg>
                        </a>            
                    </div>
                    <div class="center control rounded-circle" data-toggle="modal" data-target="#videoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style=" fill:#FFFFFF;" viewBox="0 0 24 24">
                            <path d="M16 16c0 1.104-.896 2-2 2h-12c-1.104 0-2-.896-2-2v-8c0-1.104.896-2 2-2h12c1.104 0 2 .896 2 2v8zm8-10l-6 4.223v3.554l6 4.223v-12z"/>
                         </svg>
                    </div>
                </div>
        </div>
        <span asp-validation-for="Input.VideoURL" class="text-danger"></span>
        <input asp-for="CurrentVideo.Id" class="form-control-plaintext" hidden id="ID">
        <input asp-for="CurrentVideo.URL" class="form-control-plaintext" hidden id="URL">
        <input asp-for="CurrentVideo.Uploader" class="form-control-plaintext" hidden id="Uploader">
        <input asp-for="CurrentVideo.IsLink" class="form-control-plaintext" hidden id="isLink">
        <br />
        <div class="mb-4 w-100">
            <label asp-for="CurrentVideo.Title" class="form-label">Title</label>
            <input asp-for="CurrentVideo.Title" class="form-control-plaintext" id="Title" >
            <span asp-validation-for="CurrentVideo.Title" class="text-danger"></span>
        </div>
        <div class="mb-4 w-100">
            <label asp-for="CurrentVideo.Comments" class="form-label"></label>
            <input asp-for="CurrentVideo.Comments" class="form-control-plaintext" id="Comments" >
            <span asp-validation-for="CurrentVideo.Comments" class="text-danger"></span>
        </div> 
    </form>
</div>
<form enctype="multipart/form-data" method="post">
    <div id="videoModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog mt-5" role="document">
            <div class="modal-content">
                <div class="modal-header mx-auto">
                    <h5 class="modal-title">Add new video</h5>
                </div>
                <div class="modal-body">
                    <div class="mb-4 w-100">
                        <label asp-for="Input.VideoURL" class="form-label">ADD LINK</label>
                        <input asp-for="Input.VideoURL" class="form-control-plaintext" id="firstName" placeholder="Add new link">
                        <span asp-validation-for="Input.VideoURL" class="text-danger"></span>
                    </div>
                    <div class="mb-4 w-100">
                        <label asp-for="Input.VideoURL" class="form-label w-100">UPLOAD</label>
                        <input asp-for="Input.VideoFile" class="form-control" id="formFile" type="file" hidden accept="video/*" >
                        <label for="formFile" class="d-flex rounded-0 flex-row">
                            <span id="file-chosen" class="form-control-plaintext">Upload new video</span>
                            <div class="btn btn-primary">UPLOAD</div>
                        </label>
                    </div>  
                    <div class="modal-footer w-100">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>



<script>
    const fileChosen = document.getElementById('file-chosen');
    const actualBtn = document.getElementById('formFile');
    const titleElement = document.getElementById("title-container");
    var title = '<div class="d-inline-flex justify-content-between align-items-center w-100 title-bar"><h1>@ViewData["Title"]</h1><div></div></div>';
 
    if("True"=="@User.IsInRole("Admin")")
        title = '<div class="d-inline-flex justify-content-between align-items-center w-100 title-bar"><h1>@ViewData["Title"]</h1><div class="w-25"><a class="btn btn-secondary w-50" href="../Video">Cancel</a><label class="btn btn-primary w-50" for="submit-video" tabindex="0">Save</label></div></div>';
        
    titleElement.innerHTML=title+titleElement.innerHTML;
    actualBtn?.addEventListener('change', function(){
        fileChosen.textContent = this.files[0].name
    })
</script>