﻿@page
@model web_app.Pages.Video.VideoPageModel
@{
    ViewData["Title"] = "Video";
    ViewData["Preview"] = !@Model.isPreview;
    if (User.IsInRole("Admin") && !Model.isPreview)
        Layout = "_VideoLayout.cshtml";
}
<link rel="stylesheet" href="~/css//video.css" asp-append-version="true" />
@if (User.IsInRole("Admin") && !Model.isPreview)
{
    <partial name="_AdminVideoPartial" model="Model"/>
}
else
{
    <partial name="_UserVideoPartial" model="Model.Videos.Where(x=>x.isPublished)"/>
}


<script>
    const titleElement = document.getElementById("title-container");

    var title = "";
 
    if ("True" == "@User.IsInRole("Admin")") { 
        if("True" == "@Model.isPreview")
            title = '<div class="d-inline-flex justify-content-between align-items-center w-100 title-bar"><h1>@ViewData["Title"]</h1><a class="btn btn-secondary" href="/Videos/Video?isPreview=False">Preview</a></div>';
        else
            title = '<div class="d-inline-flex justify-content-between align-items-center w-100 title-bar"><h1>@ViewData["Title"]</h1><div><a class="btn btn-secondary" href="/Videos/Video?isPreview=True">Preview</a><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#videoModal">+ New Video</button></div></div>';
    }
    titleElement.innerHTML=title+titleElement.innerHTML;
</script>